.root {
  flex-direction: row;
  display: flex;
  position: relative;
  background: #000000;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.3s;
  border-radius: 0px;
  padding: 12px 20px;
  border: 1px solid transparent;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.rootvariant_secondary {
  background: #ffffff;
  border-color: #000000;
}
.rootvariant_highlight {
  background: #e38783;
}
.rootshowStartIcon {
  padding-left: 16px;
}
.rootshowEndIcon {
  padding-right: 16px;
}
.rootisDisabled {
  cursor: not-allowed;
  background: #cbcbcb;
  border-color: transparent;
}
.rootsize_small {
  padding: 6px 16px;
}
.rootvariant_secondary_isDisabled {
  background: #cbcbcb;
  border-color: transparent;
}
.root:hover {
  background: #7f7f7f;
}
.rootvariant_secondary:hover {
  background: #ffffff;
  border-color: #727272;
}
.rootvariant_highlight:hover {
  background: #f09b97;
}
.rootisDisabled:hover {
  background: #cbcbcb;
  border-color: transparent;
}
.startIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.startIconContainershowStartIcon {
  display: flex;
}
.slotTargetStartIcon {
  color: #ffffff;
}
.svg__hu1N {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.slotTargetChildren {
  color: #ffffff;
  font-weight: 500;
  white-space: pre;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.slotTargetChildren > *,
.slotTargetChildren > .__wab_slot > *,
.slotTargetChildren > .__wab_slot > .__wab_slot > *,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetChildren > picture > img,
.slotTargetChildren > .__wab_slot > picture > img,
.slotTargetChildren > .__wab_slot > .__wab_slot > picture > img,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > picture > img {
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: color;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.3s;
}
.slotTargetChildrenvariant_secondary {
  color: #000000;
}
.slotTargetChildrenisDisabled {
  color: #575757;
}
.rootvariant_secondary:hover .slotTargetChildrenvariant_secondary {
  color: #727272;
}
.rootisDisabled:hover .slotTargetChildrenisDisabled {
  color: #575757;
}
.endIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.endIconContainershowEndIcon {
  display: flex;
}
.slotTargetEndIcon {
  color: #ededec;
}
.svg___2W9I {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
