@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Roboto+Mono%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-ypRV6nRPx: 8px;
  --plasmic-token-font-size-100: var(--token-ypRV6nRPx);
  --token-ovXCObGMT: Montserrat;
  --plasmic-token-font-family-sans-serif: var(--token-ovXCObGMT);
  --token-ZL0rc0750: Roboto Mono;
  --plasmic-token-font-family-monospace: var(--token-ZL0rc0750);
  --token-FGghT75DI: 10px;
  --plasmic-token-font-size-200: var(--token-FGghT75DI);
  --token-FEUOUMMf-: 12px;
  --plasmic-token-font-size-300: var(--token-FEUOUMMf-);
  --token-wKlQUFzur: 14px;
  --plasmic-token-font-size-400: var(--token-wKlQUFzur);
  --token-vCMxBaVg-: 16px;
  --plasmic-token-font-size-500: var(--token-vCMxBaVg-);
  --token-Ly9tGQi7U: 18px;
  --plasmic-token-font-size-600: var(--token-Ly9tGQi7U);
  --token-pYYJwVvLY: 21px;
  --plasmic-token-font-size-700: var(--token-pYYJwVvLY);
  --token-wZnbEbsHI: 24px;
  --plasmic-token-font-size-800: var(--token-wZnbEbsHI);
  --token-rP4RtJMQ1: 30px;
  --plasmic-token-font-size-900: var(--token-rP4RtJMQ1);
  --token-iNhaSX-3K: 36px;
  --plasmic-token-font-size-1000: var(--token-iNhaSX-3K);
  --token-yGyvxekek: 48px;
  --plasmic-token-font-size-1100: var(--token-yGyvxekek);
  --token-3_472P1N4: 60px;
  --plasmic-token-font-size-1200: var(--token-3_472P1N4);
  --token-2HzyxyALd: 72px;
  --plasmic-token-font-size-1300: var(--token-2HzyxyALd);
  --token-YC4TslGXR: 1.5;
  --plasmic-token-font-line-height-body: var(--token-YC4TslGXR);
  --token-2aqDy67m7: 1.3;
  --plasmic-token-font-line-height-heading: var(--token-2aqDy67m7);
  --token-tk3N35aY_: 2px;
  --plasmic-token-space-100: var(--token-tk3N35aY_);
  --token-rP56rnpft: 4px;
  --plasmic-token-space-200: var(--token-rP56rnpft);
  --token-Dpi4Tw_Jy: 8px;
  --plasmic-token-space-300: var(--token-Dpi4Tw_Jy);
  --token-1PLQr-EyN: 12px;
  --plasmic-token-space-400: var(--token-1PLQr-EyN);
  --token-pI4rEvTz3: 16px;
  --plasmic-token-space-500: var(--token-pI4rEvTz3);
  --token-kuG7Bh3dw: 24px;
  --plasmic-token-space-600: var(--token-kuG7Bh3dw);
  --token-o8VnbrgjB: 32px;
  --plasmic-token-space-700: var(--token-o8VnbrgjB);
  --token-ZUvIeBy-p: 48px;
  --plasmic-token-space-800: var(--token-ZUvIeBy-p);
  --token-Cuq0PrFOy: 64px;
  --plasmic-token-space-900: var(--token-Cuq0PrFOy);
  --token--r9KPjeYz: 96px;
  --plasmic-token-space-1000: var(--token--r9KPjeYz);
  --token-hTeTuqa8B: 128px;
  --plasmic-token-space-1100: var(--token-hTeTuqa8B);
  --token-9DLwLbBFc: 192px;
  --plasmic-token-space-1200: var(--token-9DLwLbBFc);
  --token-8jLkKh2mD: #222222;
  --plasmic-token-color-text-primary: var(--token-8jLkKh2mD);
  --token-bl3aTzPOs: 16px;
  --plasmic-token-unnamed-style-token: var(--token-bl3aTzPOs);
  --token-9rrU0j5A8: 33px;
  --plasmic-token-font-size-950: var(--token-9rrU0j5A8);
}

.plasmic_default_styles {
  --mixin-0ES0mHyujkqJ_font-family: "Montserrat";
  --mixin-0ES0mHyujkqJ_font-size: var(--token-wKlQUFzur);
  --mixin-0ES0mHyujkqJ_font-weight: 400;
  --mixin-0ES0mHyujkqJ_font-style: normal;
  --mixin-0ES0mHyujkqJ_color: #222222;
  --mixin-0ES0mHyujkqJ_text-align: left;
  --mixin-0ES0mHyujkqJ_text-transform: none;
  --mixin-0ES0mHyujkqJ_line-height: 1.5;
  --mixin-0ES0mHyujkqJ_letter-spacing: normal;
  --mixin-0ES0mHyujkqJ_white-space: pre-wrap;
  --mixin-0ES0mHyujkqJ_user-select: text;
  --mixin-0ES0mHyujkqJ_text-decoration-line: none;
  --mixin-0ES0mHyujkqJ_text-overflow: clip;
  --mixin-kmcwjQ07nx2s_font-size: var(--token-Ly9tGQi7U);
  --mixin-kmcwjQ07nx2s_font-weight: 600;
  --mixin-kmcwjQ07nx2s_line-height: var(--token-2aqDy67m7);
  --mixin-kmcwjQ07nx2s_white-space: pre-wrap;
  --mixin-rQi1Q2kU20kf_font-size: var(--token-vCMxBaVg-);
  --mixin-rQi1Q2kU20kf_font-weight: 600;
  --mixin-rQi1Q2kU20kf_line-height: var(--token-2aqDy67m7);
  --mixin-rQi1Q2kU20kf_white-space: pre-wrap;
  --mixin-Xlkn3Ibpeof__font-size: var(--token-wKlQUFzur);
  --mixin-Xlkn3Ibpeof__font-weight: 600;
  --mixin-Xlkn3Ibpeof__line-height: var(--token-2aqDy67m7);
  --mixin-Xlkn3Ibpeof__white-space: pre-wrap;
  --mixin-lzENrV63zf2m_text-decoration-line: underline;
  --mixin-lzENrV63zf2m_white-space: pre-wrap;
  --mixin-YfrNoF2qXL9i_white-space: pre-wrap;
  --mixin-Jazw5N9cMHDy_line-height: var(--token-2aqDy67m7);
  --mixin-Jazw5N9cMHDy_font-weight: 700;
  --mixin-Jazw5N9cMHDy_font-size: var(--token-rP4RtJMQ1);
  --mixin-Jazw5N9cMHDy_white-space: pre-wrap;
  --mixin-v9EWC195evDq_font-size: var(--token-wZnbEbsHI);
  --mixin-v9EWC195evDq_font-weight: 600;
  --mixin-v9EWC195evDq_line-height: var(--token-2aqDy67m7);
  --mixin-v9EWC195evDq_white-space: pre-wrap;
  --mixin-BAdii06J0rBn6_font-size: var(--token-pYYJwVvLY);
  --mixin-BAdii06J0rBn6_font-weight: 600;
  --mixin-BAdii06J0rBn6_line-height: var(--token-2aqDy67m7);
  --mixin-BAdii06J0rBn6_white-space: pre-wrap;
  --mixin-o1kz15XW6ygwR_font-family: var(--token-ZL0rc0750);
  --mixin-o1kz15XW6ygwR_white-space: pre-wrap;
  --mixin-kokqkPSAG0RUE_font-family: var(--token-ZL0rc0750);
  --mixin-kokqkPSAG0RUE_white-space: pre-wrap;
  --mixin-Tm_fPKVK7CLn6_display: flex;
  --mixin-Tm_fPKVK7CLn6_flex-direction: column;
  --mixin-Tm_fPKVK7CLn6_align-items: stretch;
  --mixin-Tm_fPKVK7CLn6_justify-content: flex-start;
  --mixin-Tm_fPKVK7CLn6_list-style-position: outside;
  --mixin-Tm_fPKVK7CLn6_padding-left: 40px;
  --mixin-Tm_fPKVK7CLn6_position: relative;
  --mixin-Tm_fPKVK7CLn6_list-style-type: decimal;
  --mixin-Tm_fPKVK7CLn6_white-space: pre-wrap;
  --mixin-UW5_uId5ioPjo_display: flex;
  --mixin-UW5_uId5ioPjo_flex-direction: column;
  --mixin-UW5_uId5ioPjo_align-items: stretch;
  --mixin-UW5_uId5ioPjo_justify-content: flex-start;
  --mixin-UW5_uId5ioPjo_list-style-position: outside;
  --mixin-UW5_uId5ioPjo_padding-left: 40px;
  --mixin-UW5_uId5ioPjo_position: relative;
  --mixin-UW5_uId5ioPjo_list-style-type: disc;
  --mixin-UW5_uId5ioPjo_white-space: pre-wrap;
  --mixin-D5ITT0L67fUtY_color: #3291ff;
  --mixin-D5ITT0L67fUtY_white-space: pre-wrap;
  --mixin-BPqj5Zs2P_white-space: pre-wrap;
}

@media (min-width: 600px) {
  .plasmic_default_styles {
    --mixin-0ES0mHyujkqJ_font-size: var(--token-vCMxBaVg-);
    --mixin-0ES0mHyujkqJ_white-space: pre-wrap;
    --mixin-kmcwjQ07nx2s_font-size: var(--token-pYYJwVvLY);
    --mixin-kmcwjQ07nx2s_white-space: pre-wrap;
    --mixin-rQi1Q2kU20kf_font-size: var(--token-Ly9tGQi7U);
    --mixin-rQi1Q2kU20kf_white-space: pre-wrap;
    --mixin-Xlkn3Ibpeof__font-size: var(--token-vCMxBaVg-);
    --mixin-Xlkn3Ibpeof__white-space: pre-wrap;
    --mixin-Jazw5N9cMHDy_font-size: var(--token-iNhaSX-3K);
    --mixin-Jazw5N9cMHDy_white-space: pre-wrap;
    --mixin-v9EWC195evDq_font-size: var(--token-rP4RtJMQ1);
    --mixin-v9EWC195evDq_white-space: pre-wrap;
    --mixin-BAdii06J0rBn6_font-size: var(--token-wZnbEbsHI);
    --mixin-BAdii06J0rBn6_white-space: pre-wrap;
  }
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-0ES0mHyujkqJ_font-family);
  font-size: var(--mixin-0ES0mHyujkqJ_font-size);
  font-weight: var(--mixin-0ES0mHyujkqJ_font-weight);
  font-style: var(--mixin-0ES0mHyujkqJ_font-style);
  color: var(--mixin-0ES0mHyujkqJ_color);
  text-align: var(--mixin-0ES0mHyujkqJ_text-align);
  text-transform: var(--mixin-0ES0mHyujkqJ_text-transform);
  line-height: var(--mixin-0ES0mHyujkqJ_line-height);
  letter-spacing: var(--mixin-0ES0mHyujkqJ_letter-spacing);
  white-space: var(--mixin-0ES0mHyujkqJ_white-space);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset .__wab_expr_html_text h4),
:where(.root_reset.plasmic_default__h4) {
  font-size: var(--mixin-kmcwjQ07nx2s_font-size);
  font-weight: var(--mixin-kmcwjQ07nx2s_font-weight);
  line-height: var(--mixin-kmcwjQ07nx2s_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset .__wab_expr_html_text h5),
:where(.root_reset.plasmic_default__h5) {
  font-size: var(--mixin-rQi1Q2kU20kf_font-size);
  font-weight: var(--mixin-rQi1Q2kU20kf_font-weight);
  line-height: var(--mixin-rQi1Q2kU20kf_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset .__wab_expr_html_text h6),
:where(.root_reset.plasmic_default__h6) {
  font-size: var(--mixin-Xlkn3Ibpeof__font-size);
  font-weight: var(--mixin-Xlkn3Ibpeof__font-weight);
  line-height: var(--mixin-Xlkn3Ibpeof__line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset .__wab_expr_html_text a),
:where(.root_reset.plasmic_default__a) {
  text-decoration-line: var(--mixin-lzENrV63zf2m_text-decoration-line);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset .__wab_expr_html_text blockquote),
:where(.root_reset.plasmic_default__blockquote) {
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset .__wab_expr_html_text h1),
:where(.root_reset.plasmic_default__h1) {
  line-height: var(--mixin-Jazw5N9cMHDy_line-height);
  font-weight: var(--mixin-Jazw5N9cMHDy_font-weight);
  font-size: var(--mixin-Jazw5N9cMHDy_font-size);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset .__wab_expr_html_text h2),
:where(.root_reset.plasmic_default__h2) {
  font-size: var(--mixin-v9EWC195evDq_font-size);
  font-weight: var(--mixin-v9EWC195evDq_font-weight);
  line-height: var(--mixin-v9EWC195evDq_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset .__wab_expr_html_text h3),
:where(.root_reset.plasmic_default__h3) {
  font-size: var(--mixin-BAdii06J0rBn6_font-size);
  font-weight: var(--mixin-BAdii06J0rBn6_font-weight);
  line-height: var(--mixin-BAdii06J0rBn6_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset .__wab_expr_html_text code),
:where(.root_reset.plasmic_default__code) {
  font-family: var(--mixin-o1kz15XW6ygwR_font-family);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset .__wab_expr_html_text pre),
:where(.root_reset.plasmic_default__pre) {
  font-family: var(--mixin-kokqkPSAG0RUE_font-family);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset .__wab_expr_html_text ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-Tm_fPKVK7CLn6_display);
  flex-direction: var(--mixin-Tm_fPKVK7CLn6_flex-direction);
  align-items: var(--mixin-Tm_fPKVK7CLn6_align-items);
  justify-content: var(--mixin-Tm_fPKVK7CLn6_justify-content);
  list-style-position: var(--mixin-Tm_fPKVK7CLn6_list-style-position);
  padding-left: var(--mixin-Tm_fPKVK7CLn6_padding-left);
  position: var(--mixin-Tm_fPKVK7CLn6_position);
  list-style-type: var(--mixin-Tm_fPKVK7CLn6_list-style-type);
  flex-column-gap: var(--mixin-Tm_fPKVK7CLn6_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset .__wab_expr_html_text ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-UW5_uId5ioPjo_display);
  flex-direction: var(--mixin-UW5_uId5ioPjo_flex-direction);
  align-items: var(--mixin-UW5_uId5ioPjo_align-items);
  justify-content: var(--mixin-UW5_uId5ioPjo_justify-content);
  list-style-position: var(--mixin-UW5_uId5ioPjo_list-style-position);
  padding-left: var(--mixin-UW5_uId5ioPjo_padding-left);
  position: var(--mixin-UW5_uId5ioPjo_position);
  list-style-type: var(--mixin-UW5_uId5ioPjo_list-style-type);
  flex-column-gap: var(--mixin-UW5_uId5ioPjo_flex-column-gap);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset .__wab_expr_html_text a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-D5ITT0L67fUtY_color);
}

:where(.root_reset .plasmic_default__code:hover),
:where(.root_reset .code:hover),
:where(.root_reset .__wab_expr_html_text code:hover),
:where(.root_reset.plasmic_default__code:hover) {
}
