.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__lw3Jg {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  position: relative;
  background: #dedfdd;
  width: 100%;
  padding-top: var(--token-ZUvIeBy-p);
  padding-bottom: var(--token-ZUvIeBy-p);
  min-width: 0;
}
@media (min-width: 900px) {
  .freeBox__lw3Jg {
    background: url("/plasmic/copy_of_sips_by_website/images/bgSipsByBoxSippingTeaCarouselLeft70Jpg.jpeg") top 50% left 50% / cover repeat,
      #d1d1cf;
    height: 38vw;
    max-height: 680px;
    flex-shrink: 0;
  }
}
@media (min-width: 1200px) {
  .freeBox__lw3Jg {
    width: 100%;
    min-width: 0;
  }
}
.pageRow__kgHmF:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__rrny7 {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
  margin: 0px 0px 0px 0%;
}
.freeBox__rrny7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-pI4rEvTz3));
  height: calc(100% + var(--token-pI4rEvTz3));
}
.freeBox__rrny7 > :global(.__wab_flex-container) > *,
.freeBox__rrny7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rrny7 > :global(.__wab_flex-container) > picture > img,
.freeBox__rrny7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-pI4rEvTz3);
}
@media (min-width: 900px) {
  .freeBox__rrny7 {
    padding: 0px 0px 0px 50%;
  }
}
@media (min-width: 900px) {
  .freeBox__rrny7 > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: flex-start;
  }
}
.h1__f2UNt {
  padding-top: 0px;
  font-size: var(--token-iNhaSX-3K);
  text-align: center;
  max-width: 10em;
  padding-bottom: 0px;
}
@media (min-width: 600px) {
  .h1__f2UNt {
    font-size: var(--token-yGyvxekek);
  }
}
@media (min-width: 900px) {
  .h1__f2UNt {
    text-align: left;
  }
}
.p {
  font-size: var(--token-pYYJwVvLY);
  text-align: center;
  max-width: 244px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 600px) {
  .p {
    font-size: var(--token-wZnbEbsHI);
  }
}
@media (min-width: 900px) {
  .p {
    text-align: left;
    width: 100%;
    max-width: 418px;
    min-width: 0;
  }
}
.freeBox__opwEa {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__opwEa > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__opwEa > :global(.__wab_flex-container) > *,
.freeBox__opwEa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__opwEa > :global(.__wab_flex-container) > picture > img,
.freeBox__opwEa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__ioHck:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__qRqt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__jvD1F {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___8AeE:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 156px;
  flex-shrink: 0;
}
.svg__feYFf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__swxKv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.mobileImage {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
}
.mobileImage > picture > img {
  object-fit: cover;
}
.mobileImage > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 900px) {
  .mobileImage {
    display: none !important;
  }
}
.logos {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: var(--token-kuG7Bh3dw);
  padding-top: var(--token-kuG7Bh3dw);
  background: #ffffff;
  min-width: 0;
}
.pageRow__ydhyk:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__imjul {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: auto;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  min-width: 0;
}
@media (min-width: 900px) {
  .freeBox__imjul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 48px;
  }
}
.freeBox__k3TZf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.img__yLol {
  object-fit: cover;
  max-width: 100%;
  opacity: 0.75;
  width: 140px;
}
.img__yLol > picture > img {
  object-fit: cover;
}
.img__yLol > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 600px) {
  .img__yLol {
    width: 162px;
  }
}
.freeBox__g64Jg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.img__folI {
  object-fit: cover;
  max-width: 100%;
  opacity: 0.75;
}
.img__folI > picture > img {
  object-fit: cover;
}
.img__folI > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__q8IgA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 0px;
}
.img__mmjCx {
  object-fit: cover;
  max-width: 100%;
  opacity: 0.75;
}
.img__mmjCx > picture > img {
  object-fit: cover;
}
.img__mmjCx > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__adYwp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  opacity: 0.75;
  padding: 0px;
}
.img__lgfZ {
  object-fit: cover;
  max-width: 100%;
  width: 129px;
}
.img__lgfZ > picture > img {
  object-fit: cover;
}
.img__lgfZ > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 600px) {
  .img__lgfZ {
    width: 159px;
  }
}
.whatYouGet {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-kuG7Bh3dw);
  padding-bottom: var(--token-kuG7Bh3dw);
  background: #fef9f3;
  min-width: 0;
  border: 15px solid #ce9f6f;
}
@media (min-width: 600px) {
  .whatYouGet {
    padding-top: var(--token-ZUvIeBy-p);
    padding-bottom: var(--token-ZUvIeBy-p);
  }
}
.pageRow__kabVq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.h2__cw9Zi {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: var(--token-Ly9tGQi7U);
  text-transform: uppercase;
  margin-bottom: var(--token-kuG7Bh3dw);
  font-weight: 700;
  min-width: 0;
}
.freeBox__myvkB {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  width: 100%;
  height: auto;
  grid-column-gap: 24px;
  min-width: 0;
}
@media (min-width: 900px) {
  .freeBox__myvkB {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.freeBox__fFlnA {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 100%;
}
.freeBox__fFlnA > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - var(--token-pI4rEvTz3));
  height: calc(100% + var(--token-pI4rEvTz3));
}
.freeBox__fFlnA > :global(.__wab_flex-container) > *,
.freeBox__fFlnA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fFlnA > :global(.__wab_flex-container) > picture > img,
.freeBox__fFlnA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-pI4rEvTz3);
}
.freeBox__knUxm {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.img__dDl3M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.img__dDl3M > picture > img {
  object-fit: cover;
}
.img__dDl3M > .__wab_img-spacer > img {
  object-fit: cover;
}
.text___6GUfk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 266px;
  text-align: center;
  font-size: var(--token-pYYJwVvLY);
  min-width: 0;
}
@media (min-width: 600px) {
  .text___6GUfk {
    font-size: var(--token-wZnbEbsHI);
    max-width: 314px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__oi1E {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.img__viS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.img__viS > picture > img {
  object-fit: cover;
}
.img__viS > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__y5Oh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 258px;
  text-align: center;
  font-size: var(--token-pYYJwVvLY);
  min-width: 0;
}
@media (min-width: 600px) {
  .text__y5Oh {
    font-size: var(--token-wZnbEbsHI);
    max-width: 285px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox___2J5Im {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  display: none;
}
@media (min-width: 900px) {
  .freeBox___2J5Im {
    display: flex;
  }
}
.image___8J2G:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___0Erq6 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 100%;
}
.freeBox___0Erq6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - var(--token-pI4rEvTz3));
  height: calc(100% + var(--token-pI4rEvTz3));
}
.freeBox___0Erq6 > :global(.__wab_flex-container) > *,
.freeBox___0Erq6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Erq6 > :global(.__wab_flex-container) > picture > img,
.freeBox___0Erq6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-pI4rEvTz3);
}
.freeBox__dWOo {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.img__iQwM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.img__iQwM > picture > img {
  object-fit: cover;
}
.img__iQwM > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__tSo7M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 264px;
  text-align: center;
  font-size: var(--token-pYYJwVvLY);
  min-width: 0;
}
@media (min-width: 600px) {
  .text__tSo7M {
    font-size: var(--token-wZnbEbsHI);
    max-width: 306px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__mx037 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.img__enUtQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.img__enUtQ > picture > img {
  object-fit: cover;
}
.img__enUtQ > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__khPro {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 261px;
  text-align: center;
  font-size: var(--token-pYYJwVvLY);
  min-width: 0;
}
@media (min-width: 600px) {
  .text__khPro {
    font-size: var(--token-wZnbEbsHI);
    max-width: 298px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__ptzYv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
@media (min-width: 900px) {
  .freeBox__ptzYv {
    display: none;
  }
}
.image__yDfYr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.howItWorks {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-Cuq0PrFOy) 0px;
}
.h2__wkDzH {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--token-wZnbEbsHI);
  margin-bottom: var(--token-kuG7Bh3dw);
  min-width: 0;
}
@media (min-width: 600px) {
  .h2__wkDzH {
    font-size: var(--token-iNhaSX-3K);
  }
}
.pageRow__yHFq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__pvLRr {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  min-width: 0;
}
@media (min-width: 900px) {
  .freeBox__pvLRr {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.freeBox__z2Ydb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 100%;
}
.text__jhTej {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 144px;
  font-weight: 900;
  line-height: 1;
  color: #f9beba;
  margin-bottom: var(--token-o8VnbrgjB);
  min-width: 0;
}
@media (min-width: 600px) {
  .text__jhTej {
    font-size: 196px;
  }
}
@media (min-width: 900px) {
  .text__jhTej {
    font-size: 256px;
  }
}
.h1__smy0J {
  max-width: 800px;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: var(--token-rP4RtJMQ1);
  text-transform: uppercase;
  margin-bottom: var(--token-o8VnbrgjB);
  min-width: 0;
}
.text__kZjUa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  line-height: var(--token-YC4TslGXR);
  font-size: var(--token-Ly9tGQi7U);
  min-width: 0;
}
@media (min-width: 600px) {
  .text__kZjUa {
    font-size: var(--token-pYYJwVvLY);
  }
}
.freeBox__hWeW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 100%;
}
.text__y2Osq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 144px;
  font-weight: 900;
  line-height: 1;
  color: #d3ead9;
  margin-bottom: var(--token-o8VnbrgjB);
  min-width: 0;
}
@media (min-width: 600px) {
  .text__y2Osq {
    font-size: 196px;
  }
}
@media (min-width: 900px) {
  .text__y2Osq {
    font-size: 256px;
  }
}
.h1__twby3 {
  max-width: 800px;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: var(--token-rP4RtJMQ1);
  text-transform: uppercase;
  margin-bottom: var(--token-o8VnbrgjB);
  min-width: 0;
}
.text__cnc7H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  line-height: var(--token-YC4TslGXR);
  font-size: var(--token-Ly9tGQi7U);
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 600px) {
  .text__cnc7H {
    font-size: var(--token-pYYJwVvLY);
  }
}
.freeBox__wxBgb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 100%;
}
.text___1R73O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 144px;
  font-weight: 900;
  line-height: 1;
  color: #e0dbec;
  margin-bottom: var(--token-o8VnbrgjB);
  min-width: 0;
}
@media (min-width: 600px) {
  .text___1R73O {
    font-size: 196px;
  }
}
@media (min-width: 900px) {
  .text___1R73O {
    font-size: 256px;
  }
}
.h1__k3JbM {
  max-width: 800px;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: var(--token-rP4RtJMQ1);
  text-transform: uppercase;
  margin-bottom: var(--token-o8VnbrgjB);
  min-width: 0;
}
.text__l7Uge {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  line-height: var(--token-YC4TslGXR);
  font-size: var(--token-Ly9tGQi7U);
  min-width: 0;
}
@media (min-width: 600px) {
  .text__l7Uge {
    font-size: var(--token-pYYJwVvLY);
  }
}
.dualCta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("https://cdn.shopify.com/s/files/1/1677/2601/files/WhiteHeart_LeafPatternOmbre_FINAL.svg?3852")
      top 50% left 50% / 600px auto repeat fixed,
    #e4c6ac;
  padding-top: var(--token-kuG7Bh3dw);
  padding-bottom: var(--token-kuG7Bh3dw);
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  min-width: 0;
}
.pageRow__wQrb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__eOrn8 {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: auto;
  max-width: 400px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  min-width: 0;
}
.button__oTc9L:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__qLpVn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__hbebv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__nFjFa:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__asfRm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ny5Of {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.howItWorks2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #e5f4e5;
  min-width: 0;
  padding: var(--token-Cuq0PrFOy) 0px;
}
.pageRow__n7Go0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.h2__dnSa {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--token-wZnbEbsHI);
  margin-bottom: var(--token-1PLQr-EyN);
  min-width: 0;
}
@media (min-width: 600px) {
  .h2__dnSa {
    font-size: var(--token-iNhaSX-3K);
  }
}
.text___0IaIf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-bottom: var(--token-kuG7Bh3dw);
  min-width: 0;
}
.carousel__yaaD:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.quotationV1__vUbAb:global(.__wab_instance) {
  max-width: 100%;
}
.image__hcF38:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__gpIBv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 32px;
  color: #ffffff;
}
.quotationV1__hkdrd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.image__rh5RK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___2Iu6P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 32px;
  color: #ffffff;
}
.quotationV1___5Rtkp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.image___57CP4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___52Jlq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 32px;
  color: #ffffff;
}
.quotationV1__gXcif:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.image__wCrgA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__fdOhe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 32px;
  color: #ffffff;
}
.text__hVask {
  height: auto;
}
.quotationV1__tVtLc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.image__aPNet:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__sjRhT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 32px;
  color: #ffffff;
}
.quotationV1___1FpDd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.image__gto4O:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__y7FkG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 32px;
  color: #ffffff;
}
.text__suX4 {
  height: auto;
}
.quotationV1___0PknC:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.image__qt02:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__nXN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 32px;
  color: #ffffff;
}
.dualCta2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("https://cdn.shopify.com/s/files/1/1677/2601/files/WhiteHeart_LeafPatternOmbre_FINAL.svg?3852")
      top 50% left 50% / 600px auto repeat fixed,
    #e4c6ac;
  padding-top: var(--token-kuG7Bh3dw);
  padding-bottom: var(--token-kuG7Bh3dw);
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  min-width: 0;
}
.pageRow___4Q9Cb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__qDrVb {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: auto;
  max-width: 400px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  min-width: 0;
}
.button__rQjXi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ql9W {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__wo8X9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__eTy3H:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__mbhCu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__kimn9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.brands {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  padding-top: var(--token-Cuq0PrFOy);
  padding-bottom: var(--token-Cuq0PrFOy);
  min-width: 0;
}
.h2__ukvYm {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: var(--token-kuG7Bh3dw);
  font-size: var(--token-iNhaSX-3K);
  min-width: 0;
}
.pageRow___7InC:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.carousel___1XtMr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.image__poX6V:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.image__oAsyM:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.image__cC83B:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.image__v2A1P:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.image__zz3Pm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.image__fUy5D:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.image__qpd45:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.image__uvjyu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.image___99Cyr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.image___18Fne:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.image__zoEMs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.privacy {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  min-width: 0;
  padding: var(--token-o8VnbrgjB);
}
@media (min-width: 900px) {
  .privacy {
    padding: var(--token-ZUvIeBy-p);
  }
}
.link {
  position: relative;
  text-align: center;
}
