.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__lI4D0 {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: var(--token-1PLQr-EyN) var(--token-pI4rEvTz3);
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__e95Tw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-top: 1px solid #bdbdbd;
}
.freeBox__dx5E7 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.sectionMobileMenuSubmenuLink__lMnNi:global(.__wab_instance) {
  max-width: 100%;
  display: flex;
}
.sectionMobileMenuSubmenuLink__yoJkC:global(.__wab_instance) {
  max-width: 100%;
  display: flex;
}
.text__zFiG {
  color: #222222;
}
.sectionMobileMenuSubmenuLink__bzmjo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__nJGsm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-top: 1px none #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.freeBox___6WXE {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: var(--token-pI4rEvTz3);
  padding-right: var(--token-pI4rEvTz3);
  padding-top: var(--token-pI4rEvTz3);
  min-width: 0;
}
.text__snpsM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: var(--token-QroDlWyLNnLBKw);
  font-weight: 500;
  text-align: left;
  min-width: 0;
}
.freeBox__v181F {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-pI4rEvTz3);
}
.freeBox__v181F > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-pI4rEvTz3));
  width: calc(100% + var(--token-pI4rEvTz3));
}
.freeBox__v181F > :global(.__wab_flex-container) > *,
.freeBox__v181F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v181F > :global(.__wab_flex-container) > picture > img,
.freeBox__v181F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-pI4rEvTz3);
}
.accountregister {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-line: none;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root .accountregister:hover {
  color: var(--token-8jLkKh2mD);
}
.freeBox__hCwx {
  display: flex;
  width: 100%;
  height: 100px;
  background: #bcdfc6;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  border-radius: 10px;
  padding: var(--token-o8VnbrgjB) var(--token-kuG7Bh3dw);
}
.text___1TRcR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: center;
  text-decoration-line: none;
  min-width: 0;
}
.httpsmsipsbycompgift {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-line: none;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root .httpsmsipsbycompgift:hover {
  color: var(--token-8jLkKh2mD);
}
.freeBox__djv2E {
  display: flex;
  width: 100%;
  height: 100%;
  background: #eceaf3;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  border-radius: 10px;
  padding: var(--token-o8VnbrgjB) var(--token-kuG7Bh3dw);
}
.text__lcdXm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: center;
  text-decoration-line: none;
  min-width: 0;
}
.freeBox__onT2W {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.sectionMobileMenuLink__rlGg:global(.__wab_instance) {
  display: none;
}
.freeBox__vgk4P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.sectionMobileMenuLink__q8KdW:global(.__wab_instance) {
  display: none;
}
.freeBox__t8QUf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.sectionMobileMenuLink__zuEgt:global(.__wab_instance) {
  display: none;
}
.text__rjaF {
  height: auto;
}
.freeBox__n6V2Q {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.sectionMobileMenuLink__ueyzG:global(.__wab_instance) {
  display: none;
}
.text__pVr6X {
  height: auto;
}
.freeBox__y72Yo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.sectionMobileMenuLink__mBuKt:global(.__wab_instance) {
  display: none;
}
.text__gtxtQ {
  height: auto;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 600px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-row-gap: 0px;
    min-width: 0;
  }
}
@media (min-width: 600px) {
  .columns > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 600px) {
  .columns > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
.column___9IMpz {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column___9IMpz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-1PLQr-EyN));
  height: calc(100% + var(--token-1PLQr-EyN));
}
.column___9IMpz > :global(.__wab_flex-container) > *,
.column___9IMpz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___9IMpz > :global(.__wab_flex-container) > picture > img,
.column___9IMpz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-1PLQr-EyN);
}
.freeBox__nLCeM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.pagespoints {
  position: relative;
  display: flex;
  text-decoration-line: none;
  text-align: left;
}
.text__gL89 {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 500;
  font-size: var(--token-FEUOUMMf-);
  min-width: 0;
}
.freeBox__ePwoa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.link {
  position: relative;
  display: flex;
  text-decoration-line: none;
  text-align: left;
}
.pagessettings {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 500;
  font-size: var(--token-FEUOUMMf-);
  min-width: 0;
}
.freeBox__b0NhA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.accountlogout {
  position: relative;
  display: flex;
  text-decoration-line: none;
  text-align: left;
}
.text__hxReQ {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 500;
  font-size: var(--token-FEUOUMMf-);
  min-width: 0;
}
.column__m1Vj2 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__m1Vj2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-1PLQr-EyN));
  height: calc(100% + var(--token-1PLQr-EyN));
}
.column__m1Vj2 > :global(.__wab_flex-container) > *,
.column__m1Vj2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__m1Vj2 > :global(.__wab_flex-container) > picture > img,
.column__m1Vj2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-1PLQr-EyN);
}
.freeBox__ik6Dx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.pagesmygift {
  position: relative;
  display: flex;
  text-decoration-line: none;
  text-align: left;
}
.text__keIp {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 500;
  font-size: var(--token-FEUOUMMf-);
  min-width: 0;
}
.freeBox___2Vn3N {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.httpssipsbyzendeskcomhcenUs {
  position: relative;
  display: flex;
  text-decoration-line: none;
  text-align: left;
}
.text__ujO4O {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 500;
  font-size: var(--token-FEUOUMMf-);
  padding-right: 0px;
  min-width: 0;
}
.freeBox__nJk8N {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.pagescontact {
  position: relative;
  display: flex;
  text-decoration-line: none;
  text-align: left;
}
.text__qSulm {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 500;
  font-size: var(--token-FEUOUMMf-);
  min-width: 0;
}
