.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__hsvX6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-style: solid;
  min-width: 0;
}
.sectionMobileMenuMainMenuButton:global(.__wab_instance) {
  position: relative;
}
.freeBox__hYk4A {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-top: 1px none #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.accordian__mBdhK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__eZPjN {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: var(--token-vCMxBaVg-);
  align-self: center;
  min-width: 0;
}
.freeBox__wsEm {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-pI4rEvTz3);
  padding-bottom: var(--token-pI4rEvTz3);
  min-width: 0;
}
.freeBox__wsEm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__wsEm > :global(.__wab_flex-container) > *,
.freeBox__wsEm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wsEm > :global(.__wab_flex-container) > picture > img,
.freeBox__wsEm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.collectionsnewTeaArrivals {
  display: flex;
  text-decoration-line: none;
}
.root .collectionsnewTeaArrivals:hover {
  color: var(--token-8jLkKh2mD);
}
.text___5L1O {
  padding-left: 8px;
}
.collectionstopRatedTeas {
  display: flex;
  text-decoration-line: none;
}
.root .collectionstopRatedTeas:hover {
  color: var(--token-8jLkKh2mD);
}
.text___9QAp {
  padding-left: 8px;
  height: auto;
}
.collectionstopRatedTeas2 {
  display: flex;
  text-decoration-line: none;
}
.root .collectionstopRatedTeas2:hover {
  color: var(--token-8jLkKh2mD);
}
.text___6PtpG {
  padding-left: 8px;
  height: auto;
}
.collectionssubscribeSave {
  display: flex;
  text-decoration-line: none;
}
.root .collectionssubscribeSave:hover {
  color: var(--token-8jLkKh2mD);
}
.text___7UblM {
  padding: 0px 0px 0px 8px;
}
.collectionssipsByExclusives {
  display: flex;
  text-decoration-line: none;
}
.root .collectionssipsByExclusives:hover {
  color: var(--token-8jLkKh2mD);
}
.text__sqK1M {
  padding: 0px 0px 0px 8px;
}
.collectionssipsByExclusives2 {
  display: flex;
  text-decoration-line: none;
}
.root .collectionssipsByExclusives2:hover {
  color: var(--token-8jLkKh2mD);
}
.text__x4PiP {
  padding: 0px 0px 0px 8px;
}
.collectionsteaGifts {
  display: flex;
  text-decoration-line: none;
}
.root .collectionsteaGifts:hover {
  color: var(--token-8jLkKh2mD);
}
.text___8SuVd {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 8px;
}
.collectionstea3 {
  display: flex;
  text-decoration-line: none;
}
.root .collectionstea3:hover {
  color: var(--token-8jLkKh2mD);
}
.shopAll {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 8px;
}
.svg__zoXth {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #1f1f1f;
  width: 12px;
  height: 12px;
  opacity: 1;
  transition-property: all;
  transition-duration: 1s;
  display: block;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  margin: var(--token-Dpi4Tw_Jy) var(--token-1PLQr-EyN) var(--token-1PLQr-EyN);
}
.freeBox___15Mfw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-top: 1px none #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.accordian__ibsTk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__lNe0D {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: var(--token-vCMxBaVg-);
  align-self: center;
  min-width: 0;
}
.freeBox__b5TUl {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-pI4rEvTz3);
  padding-bottom: var(--token-pI4rEvTz3);
  min-width: 0;
}
.freeBox__b5TUl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__b5TUl > :global(.__wab_flex-container) > *,
.freeBox__b5TUl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b5TUl > :global(.__wab_flex-container) > picture > img,
.freeBox__b5TUl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.collectionsicedTeaFavorites {
  display: flex;
  text-decoration-line: none;
}
.root .collectionsicedTeaFavorites:hover {
  color: var(--token-8jLkKh2mD);
}
.text___7WuXy {
  padding-left: 8px;
}
.collectionsbestLooseLeafTea {
  display: flex;
  text-decoration-line: none;
}
.root .collectionsbestLooseLeafTea:hover {
  color: var(--token-8jLkKh2mD);
}
.text__nmjR6 {
  padding-left: 8px;
  height: auto;
}
.collectionsbestBaggedTea {
  display: flex;
  text-decoration-line: none;
  color: #222222;
}
.text__so1Cv {
  padding: 0px 0px 0px 8px;
}
.collectionsbestCaffeinatedTea {
  display: flex;
  text-decoration-line: none;
}
.root .collectionsbestCaffeinatedTea:hover {
  color: var(--token-8jLkKh2mD);
}
.caffeinated {
  height: auto;
  padding: 0px 0px 0px 8px;
}
.collectionscaffeineFree {
  display: flex;
  text-decoration-line: none;
}
.root .collectionscaffeineFree:hover {
  color: var(--token-8jLkKh2mD);
}
.text__urDHv {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 8px;
}
.collectionstea5 {
  display: flex;
  text-decoration-line: none;
}
.root .collectionstea5:hover {
  color: var(--token-8jLkKh2mD);
}
.shopAll3 {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 8px;
}
.svg___5QRn3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #1f1f1f;
  width: 12px;
  height: 12px;
  opacity: 1;
  transition-property: all;
  transition-duration: 1s;
  display: block;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  margin: var(--token-Dpi4Tw_Jy) var(--token-1PLQr-EyN) var(--token-1PLQr-EyN);
}
.freeBox___9H7Cr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-top: 1px none #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.accordian__uRgel:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___6Ve27 {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: var(--token-vCMxBaVg-);
  align-self: center;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__xhKml {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-pI4rEvTz3);
  padding-bottom: var(--token-pI4rEvTz3);
  min-width: 0;
}
.freeBox__xhKml > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__xhKml > :global(.__wab_flex-container) > *,
.freeBox__xhKml > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xhKml > :global(.__wab_flex-container) > picture > img,
.freeBox__xhKml
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.collectionsbestEarlGreyTea {
  display: flex;
  text-decoration-line: none;
}
.text__kxmzm {
  padding-left: 8px;
}
.collectionschaiShop {
  display: flex;
  text-decoration-line: none;
}
.text__gMn3R {
  padding-left: 8px;
  height: auto;
}
.collectionschamomileTeaShop {
  display: flex;
  text-decoration-line: none;
}
.text__njrxR {
  padding: 0px 0px 0px 8px;
}
.collectionssweetTeaShop {
  display: flex;
  text-decoration-line: none;
}
.text___2BRdq {
  height: auto;
  padding: 0px 0px 0px 8px;
}
.collectionsbestMintTeaShop {
  display: flex;
  text-decoration-line: none;
}
.text__spjDa {
  padding-top: 0px;
  padding-left: 8px;
}
.collectionspeachTeaShop {
  display: flex;
  text-decoration-line: none;
}
.text__aRtw {
  padding-top: 0px;
  padding-left: 8px;
}
.collectionsfruityTeaShop {
  display: flex;
  text-decoration-line: none;
}
.text__epeXn {
  padding-top: 0px;
  padding-left: 8px;
}
.collectionsfloralTeaShop {
  display: flex;
  text-decoration-line: none;
}
.text__t5EW5 {
  padding-top: 0px;
  padding-left: 8px;
}
.collectionstea {
  display: flex;
  text-decoration-line: none;
}
.text___6N0BC {
  padding-top: 0px;
  padding-left: 8px;
}
.svg__hFBii {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #1f1f1f;
  width: 12px;
  height: 12px;
  opacity: 1;
  transition-property: all;
  transition-duration: 1s;
  display: block;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  margin: var(--token-Dpi4Tw_Jy) var(--token-1PLQr-EyN) var(--token-1PLQr-EyN);
}
.freeBox__dB7Ou {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-top: 1px none #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.accordian___2Wt37:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__fka8O {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: var(--token-vCMxBaVg-);
  align-self: center;
  min-width: 0;
}
.freeBox__rhZf {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-pI4rEvTz3);
  padding-bottom: var(--token-pI4rEvTz3);
  min-width: 0;
}
.freeBox__rhZf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__rhZf > :global(.__wab_flex-container) > *,
.freeBox__rhZf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rhZf > :global(.__wab_flex-container) > picture > img,
.freeBox__rhZf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.collectionsherbalTea {
  display: flex;
  text-decoration-line: none;
}
.text__s8Gsm {
  padding-left: 8px;
}
.collectionsbestBlackTea {
  display: flex;
  text-decoration-line: none;
}
.text__s5Teq {
  padding-left: 8px;
  height: auto;
}
.collectionsgreenTea {
  display: flex;
  text-decoration-line: none;
}
.text___4C1HH {
  padding: 0px 0px 0px 8px;
}
.collectionsbestRooibosTea {
  display: flex;
  text-decoration-line: none;
}
.text___5N71M {
  height: auto;
  padding: 0px 0px 0px 8px;
}
.collectionsbestOolongTea {
  display: flex;
  text-decoration-line: none;
}
.text___84HN {
  padding-top: 0px;
  padding-left: 8px;
}
.collectionshibiscusTea {
  display: flex;
  text-decoration-line: none;
}
.text__k1SWy {
  padding-top: 0px;
  padding-left: 8px;
}
.collectionswhiteTeaShop {
  display: flex;
  text-decoration-line: none;
}
.text__rtkYk {
  padding-top: 0px;
  padding-left: 8px;
}
.collectionsyerbaMateTea {
  display: flex;
  text-decoration-line: none;
}
.text__gVL4 {
  padding-top: 0px;
  padding-left: 8px;
}
.collectionstea2 {
  display: flex;
  text-decoration-line: none;
}
.text__hu27N {
  padding-top: 0px;
  padding-left: 8px;
}
.svg__rYhMc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #1f1f1f;
  width: 12px;
  height: 12px;
  opacity: 1;
  transition-property: all;
  transition-duration: 1s;
  display: block;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  margin: var(--token-Dpi4Tw_Jy) var(--token-1PLQr-EyN) var(--token-1PLQr-EyN);
}
.freeBox__sTwha {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-top: 1px none #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.accordian__lxOw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__tdFt {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: var(--token-vCMxBaVg-);
  align-self: center;
  min-width: 0;
}
.freeBox__jhCGg {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-pI4rEvTz3);
  padding-bottom: var(--token-pI4rEvTz3);
  min-width: 0;
}
.freeBox__jhCGg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__jhCGg > :global(.__wab_flex-container) > *,
.freeBox__jhCGg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jhCGg > :global(.__wab_flex-container) > picture > img,
.freeBox__jhCGg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.collectionssleepTeaShop {
  display: flex;
  text-decoration-line: none;
}
.text__gtBwi {
  padding-left: 8px;
}
.collectionsenergizingTeaShop {
  display: flex;
  text-decoration-line: none;
}
.text__evAx3 {
  padding-left: 8px;
  height: auto;
}
.collectionsstressReliefTeaCollection {
  display: flex;
  text-decoration-line: none;
}
.text__mt4Ys {
  padding: 0px 0px 0px 8px;
}
.collectionsimmunityTeaShop {
  display: flex;
  text-decoration-line: none;
}
.text__g4K85 {
  height: auto;
  padding: 0px 0px 0px 8px;
}
.collectionshappyTeaShop {
  display: flex;
  text-decoration-line: none;
}
.text__u83Qg {
  padding-top: 0px;
  padding-left: 8px;
}
.svg___39Mx5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #1f1f1f;
  width: 12px;
  height: 12px;
  opacity: 1;
  transition-property: all;
  transition-duration: 1s;
  display: block;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  margin: var(--token-Dpi4Tw_Jy) var(--token-1PLQr-EyN) var(--token-1PLQr-EyN);
}
.mobileEcomFeature:global(.__wab_instance) {
  position: relative;
}
.cookieTea {
  object-fit: cover;
  height: 100%;
  width: 100%;
  flex-basis: auto;
}
.cookieTea > picture > img {
  object-fit: cover;
}
.cookieTea > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__ogWkM {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ogWkM > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__ogWkM > :global(.__wab_flex-container) > *,
.freeBox__ogWkM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ogWkM > :global(.__wab_flex-container) > picture > img,
.freeBox__ogWkM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.text__sn6Tc {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: var(--token-vCMxBaVg-);
  min-width: 0;
}
.text__rUrhZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
