.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-top: var(--token-Cuq0PrFOy);
  padding-bottom: var(--token-Cuq0PrFOy);
  min-width: 0;
  min-height: 0;
  border-top: 1px solid #22222214;
}
.pageRow:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__kf8Is {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__kf8Is > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - var(--token-kuG7Bh3dw));
  height: calc(100% + var(--token-kuG7Bh3dw));
}
.freeBox__kf8Is > :global(.__wab_flex-container) > *,
.freeBox__kf8Is > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kf8Is > :global(.__wab_flex-container) > picture > img,
.freeBox__kf8Is
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-kuG7Bh3dw);
}
.sectionFooterPromo__sZfs:global(.__wab_instance) {
  display: flex;
}
@media (min-width: 900px) {
  .sectionFooterPromo__sZfs:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 1200px) {
  .sectionFooterPromo__sZfs:global(.__wab_instance) {
    display: none;
  }
}
.sectionFooterPromominimal__sZfsCaz7H:global(.__wab_instance) {
  display: none;
}
.blogNav {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.blogNav > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - var(--token-kuG7Bh3dw));
  height: calc(100% + var(--token-kuG7Bh3dw));
}
.blogNav > :global(.__wab_flex-container) > *,
.blogNav > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.blogNav > :global(.__wab_flex-container) > picture > img,
.blogNav
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-kuG7Bh3dw);
}
@media (min-width: 900px) {
  .blogNav {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (min-width: 900px) {
  .blogNav > :global(.__wab_flex-container) {
    flex-direction: row-reverse;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 900px) {
  .blogNav > :global(.__wab_flex-container) > *,
  .blogNav > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .blogNav > :global(.__wab_flex-container) > picture > img,
  .blogNav
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
@media (min-width: 1200px) {
  .blogNav {
    display: flex;
  }
}
@media (min-width: 900px) {
  .blogNavminimal > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.blog {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 900px) {
  .blog {
    margin-top: calc(0px + 0px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    max-width: 40%;
  }
}
@media (min-width: 1200px) {
  .blog {
    margin-top: calc(0px + 0px) !important;
  }
}
.blogminimal {
  display: none;
}
@media (min-width: 900px) {
  .blogminimal {
    margin-top: calc(0px + 0px) !important;
  }
}
.freeBox__zC8Ah {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: var(--token-kuG7Bh3dw);
  min-width: 0;
}
.h3__spNz1 {
  position: relative;
  font-size: var(--token-wKlQUFzur);
}
@media (min-width: 600px) {
  .h3__spNz1 {
    font-size: var(--token-vCMxBaVg-);
  }
}
.link__mw2Bz {
  position: relative;
  font-size: var(--token-FEUOUMMf-);
}
@media (min-width: 600px) {
  .link__mw2Bz {
    font-size: var(--token-wKlQUFzur);
  }
}
.root .link__mw2Bz:hover {
  color: var(--token-8jLkKh2mD);
}
.sectionFooterBlogPost__ootc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: var(--token-pI4rEvTz3);
}
.img__cpXIe {
  object-fit: cover;
  max-width: 100%;
  height: 90px;
  width: 90px;
  border-radius: 5px;
}
.img__cpXIe > picture > img {
  object-fit: cover;
}
.img__cpXIe > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__pHj7A {
  text-decoration-line: none !important;
}
.root .text__pHj7A:hover {
  color: var(--token-8jLkKh2mD);
}
.sectionFooterBlogPost__xXjYj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__bqjNf {
  object-fit: cover;
  max-width: 100%;
  height: 90px;
  width: 90px;
  border-radius: 5px;
}
.img__bqjNf > picture > img {
  object-fit: cover;
}
.img__bqjNf > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__uV7Sw {
  text-decoration-line: none !important;
}
.root .text__uV7Sw:hover {
  color: var(--token-8jLkKh2mD);
}
.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: auto;
  grid-column-gap: 12px;
  grid-row-gap: 24px;
  min-width: 0;
}
@media (min-width: 900px) {
  .nav {
    max-width: 60%;
  }
}
@media (min-width: 1200px) {
  .nav {
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: var(--token-kuG7Bh3dw);
  }
}
.freeBox__qjsOz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.h3__ct7Ta {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: var(--token-kuG7Bh3dw);
  min-width: 0;
}
.link__fEb63 {
  font-size: var(--token-wKlQUFzur);
  text-decoration-line: none;
}
@media (min-width: 600px) {
  .link__fEb63 {
    font-size: var(--token-vCMxBaVg-);
  }
}
.root .link__fEb63:hover {
  color: var(--token-8jLkKh2mD);
  text-decoration-line: underline;
}
.freeBox__oAeWr {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__oAeWr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__oAeWr > :global(.__wab_flex-container) > *,
.freeBox__oAeWr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oAeWr > :global(.__wab_flex-container) > picture > img,
.freeBox__oAeWr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.sectionFooterLink___2RV:global(.__wab_instance) {
  position: relative;
}
.sectionFooterLink__lrPco:global(.__wab_instance) {
  position: relative;
}
.sectionFooterLink__iivgw:global(.__wab_instance) {
  position: relative;
}
.sectionFooterLink__dH9Ha:global(.__wab_instance) {
  position: relative;
}
.sectionFooterLink__whRj2:global(.__wab_instance) {
  position: relative;
}
.sectionFooterLink___4FVkt:global(.__wab_instance) {
  position: relative;
}
.freeBox___7UqFg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.h3__apTtN {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: var(--token-kuG7Bh3dw);
  min-width: 0;
}
.text___0Cy4L {
  font-size: var(--token-wKlQUFzur);
}
@media (min-width: 600px) {
  .text___0Cy4L {
    font-size: var(--token-vCMxBaVg-);
  }
}
.freeBox__d9RsH {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: var(--token-kuG7Bh3dw);
  min-width: 0;
}
.freeBox__d9RsH > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__d9RsH > :global(.__wab_flex-container) > *,
.freeBox__d9RsH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d9RsH > :global(.__wab_flex-container) > picture > img,
.freeBox__d9RsH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.sectionFooterLink__hXqxO:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__vYyU {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__vYyU > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  min-width: 0;
  margin-left: calc(0px - var(--token-rP56rnpft));
  width: calc(100% + var(--token-rP56rnpft));
}
.freeBox__vYyU > :global(.__wab_flex-container) > *,
.freeBox__vYyU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vYyU > :global(.__wab_flex-container) > picture > img,
.freeBox__vYyU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-rP56rnpft);
}
.sectionFooterLink__mJlYf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.badge:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.sectionFooterLink__ssn7S:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.sectionFooterSocial__l8Vv8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 600px) {
  .sectionFooterSocial__l8Vv8:global(.__wab_instance) {
    display: flex;
  }
}
.freeBox__eOyvD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.h3__mOpjE {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: var(--token-kuG7Bh3dw);
  min-width: 0;
}
.text__mmZxd {
  font-size: var(--token-wKlQUFzur);
}
@media (min-width: 600px) {
  .text__mmZxd {
    font-size: var(--token-vCMxBaVg-);
  }
}
.freeBox___7Rt3E {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___7Rt3E > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox___7Rt3E > :global(.__wab_flex-container) > *,
.freeBox___7Rt3E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Rt3E > :global(.__wab_flex-container) > picture > img,
.freeBox___7Rt3E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.sectionFooterLink__aw7Bz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.sectionFooterLink__wpfEg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.sectionFooterLink__zIhuz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.sectionFooterLink__enIOs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.sectionFooterLink__sV3Qq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.promoNewsletter {
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}
@media (min-width: 900px) {
  .promoNewsletter {
    display: flex;
    flex-direction: row;
    flex-row-gap: 0px;
  }
}
@media (min-width: 1200px) {
  .promoNewsletter {
    display: flex;
  }
}
@media (min-width: 900px) {
  .promoNewsletterminimal {
    align-items: center;
    justify-content: center;
  }
}
.promo {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 60%;
  top: auto;
  left: auto;
  padding-right: var(--token-kuG7Bh3dw);
  min-width: 0;
  display: none;
}
@media (min-width: 900px) {
  .promo {
    left: auto;
    top: auto;
    display: flex;
  }
}
@media (min-width: 900px) {
  .promominimal {
    display: none;
  }
}
.sectionFooterPromo___7S0Yo:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.sectionFooterNewsletter:global(.__wab_instance) {
  height: 100%;
  min-height: 0;
}
@media (min-width: 900px) {
  .sectionFooterNewsletter:global(.__wab_instance) {
    max-width: 40%;
    height: 158px;
  }
}
@media (min-width: 900px) {
  .sectionFooterNewsletterminimal:global(.__wab_instance) {
    max-width: 60%;
  }
}
.socialLinks2 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.socialLinks2 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-1PLQr-EyN));
  width: calc(100% + var(--token-1PLQr-EyN));
  margin-top: calc(0px - var(--token-1PLQr-EyN));
  height: calc(100% + var(--token-1PLQr-EyN));
}
.socialLinks2 > :global(.__wab_flex-container) > *,
.socialLinks2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.socialLinks2 > :global(.__wab_flex-container) > picture > img,
.socialLinks2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-1PLQr-EyN);
  margin-top: var(--token-1PLQr-EyN);
}
@media (min-width: 600px) {
  .socialLinks2 {
    display: none;
  }
}
@media (min-width: 900px) {
  .socialLinks2 {
    display: none;
  }
}
.sectionFooterSocial__qQShU:global(.__wab_instance) {
  position: relative;
}
.freeBox___3DVdt {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___3DVdt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - var(--token-rP56rnpft));
  height: calc(100% + var(--token-rP56rnpft));
}
.freeBox___3DVdt > :global(.__wab_flex-container) > *,
.freeBox___3DVdt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3DVdt > :global(.__wab_flex-container) > picture > img,
.freeBox___3DVdt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-rP56rnpft);
}
@media (min-width: 600px) {
  .freeBox___3DVdt {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 600px) {
  .freeBox___3DVdt > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-left: calc(0px - var(--token-1PLQr-EyN));
    width: calc(100% + var(--token-1PLQr-EyN));
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 600px) {
  .freeBox___3DVdt > :global(.__wab_flex-container) > *,
  .freeBox___3DVdt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___3DVdt > :global(.__wab_flex-container) > picture > img,
  .freeBox___3DVdt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: var(--token-1PLQr-EyN);
    margin-top: 0px;
  }
}
@media (min-width: 900px) {
  .freeBoxminimal___3DVdTcaz7H > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.text__lAyEw {
  position: relative;
  width: auto;
  height: auto;
  font-size: var(--token-FGghT75DI);
  text-align: center;
}
@media (min-width: 900px) {
  .text__lAyEw {
    font-size: var(--token-FEUOUMMf-);
  }
}
.freeBox__joYIq {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__joYIq > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-1PLQr-EyN));
  width: calc(100% + var(--token-1PLQr-EyN));
}
.freeBox__joYIq > :global(.__wab_flex-container) > *,
.freeBox__joYIq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__joYIq > :global(.__wab_flex-container) > picture > img,
.freeBox__joYIq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-1PLQr-EyN);
}
@media (min-width: 600px) {
  .freeBox__joYIq {
    width: auto;
  }
}
.text__r0E8R {
  width: auto;
  height: auto;
  font-size: var(--token-FGghT75DI);
  display: none;
}
@media (min-width: 600px) {
  .text__r0E8R {
    display: block;
  }
}
@media (min-width: 900px) {
  .text__r0E8R {
    font-size: var(--token-FEUOUMMf-);
  }
}
.link__lzvW1 {
  position: relative;
  width: auto;
  height: auto;
  font-size: var(--token-FGghT75DI);
  text-decoration-line: none;
}
@media (min-width: 900px) {
  .link__lzvW1 {
    font-size: var(--token-FEUOUMMf-);
  }
}
.root .link__lzvW1:hover {
  color: var(--token-8jLkKh2mD);
  text-decoration-line: underline;
}
.text__sItd {
  position: relative;
  width: auto;
  height: auto;
  font-size: var(--token-FGghT75DI);
}
@media (min-width: 900px) {
  .text__sItd {
    font-size: var(--token-FEUOUMMf-);
  }
}
.link__qVD {
  position: relative;
  width: auto;
  height: auto;
  font-size: var(--token-FGghT75DI);
  text-decoration-line: none;
}
@media (min-width: 900px) {
  .link__qVD {
    font-size: var(--token-FEUOUMMf-);
  }
}
.root .link__qVD:hover {
  color: var(--token-8jLkKh2mD);
  text-decoration-line: underline;
}
.text__mbshy {
  position: relative;
  width: auto;
  height: auto;
  font-size: var(--token-FGghT75DI);
}
@media (min-width: 900px) {
  .text__mbshy {
    font-size: var(--token-FEUOUMMf-);
  }
}
.link__oe8Z3 {
  position: relative;
  width: auto;
  height: auto;
  font-size: var(--token-FGghT75DI);
  text-decoration-line: none;
}
@media (min-width: 900px) {
  .link__oe8Z3 {
    font-size: var(--token-FEUOUMMf-);
  }
}
.root .link__oe8Z3:hover {
  color: var(--token-8jLkKh2mD);
  text-decoration-line: underline;
}
