.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  background: #fdf7f0;
  min-width: 0;
  min-height: 0;
}
.activationScreen {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  max-width: 100%;
  flex-shrink: 0;
}
.pageRow:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-pI4rEvTz3));
  height: calc(100% + var(--token-pI4rEvTz3));
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-pI4rEvTz3);
}
@media (min-width: 600px) {
  .freeBox {
    padding-right: var(--token-ZUvIeBy-p);
    padding-left: var(--token-ZUvIeBy-p);
  }
}
@media (min-width: 900px) {
  .freeBox {
    padding-right: var(--token--r9KPjeYz);
    padding-left: var(--token--r9KPjeYz);
    width: 836px;
  }
}
@media (min-width: 1200px) {
  .freeBox {
    width: 1212px;
    padding-right: 116px;
    padding-left: 116px;
  }
}
@media (min-width: 1200px) {
  .freeBox > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-kuG7Bh3dw));
    height: calc(100% + var(--token-kuG7Bh3dw));
  }
}
@media (min-width: 1200px) {
  .freeBox > :global(.__wab_flex-container) > *,
  .freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox > :global(.__wab_flex-container) > picture > img,
  .freeBox
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-kuG7Bh3dw);
  }
}
.img {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 100%;
  height: 100px;
  margin-bottom: var(--token-1PLQr-EyN);
  min-width: 0;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: contain;
}
.img > .__wab_img-spacer > img {
  object-fit: contain;
}
@media (min-width: 900px) {
  .img {
    position: relative;
    object-fit: contain;
    max-width: 100%;
    width: 100%;
    height: 100px;
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 900px) {
  .img > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 900px) {
  .img > .__wab_img-spacer > img {
    object-fit: contain;
  }
}
@media (min-width: 1200px) {
  .img {
    height: 130px;
    position: relative;
    object-fit: contain;
    max-width: 100%;
    width: 100%;
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 1200px) {
  .img > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 1200px) {
  .img > .__wab_img-spacer > img {
    object-fit: contain;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-weight: 600;
  font-size: var(--token-iNhaSX-3K);
  min-width: 0;
}
@media (min-width: 900px) {
  .h1 {
    font-size: var(--token-yGyvxekek);
  }
}
@media (min-width: 1200px) {
  .h1 {
    font-size: var(--token-3_472P1N4);
  }
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: var(--token-Ly9tGQi7U);
  min-width: 0;
}
@media (min-width: 900px) {
  .text {
    font-size: var(--token-pYYJwVvLY);
  }
}
@media (min-width: 1200px) {
  .text {
    font-size: var(--token-pYYJwVvLY);
    max-width: 650px;
    width: 100%;
    min-width: 0;
  }
}
.buttonLnUpdate:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__wlYba {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.logIn {
  height: auto;
}
.svg___8RwqK {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
