.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__vDlOe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-style: solid;
  min-width: 0;
}
.sectionMobileMenuMainMenuButton:global(.__wab_instance) {
  position: relative;
}
.freeBox__uNrci {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-top: 1px none #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.accordian__d1HA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__nBsXv {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: var(--token-vCMxBaVg-);
  align-self: center;
  min-width: 0;
}
.freeBox__tvD47 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-pI4rEvTz3);
  padding-bottom: var(--token-pI4rEvTz3);
  min-width: 0;
}
.freeBox__tvD47 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__tvD47 > :global(.__wab_flex-container) > *,
.freeBox__tvD47 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tvD47 > :global(.__wab_flex-container) > picture > img,
.freeBox__tvD47
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.collectionsnewTeaArrivals {
  display: flex;
  text-decoration-line: none;
}
.text__kiBn5 {
  padding-left: 8px;
  padding-right: 0px;
}
.collectionsbestSellingTeaware {
  display: flex;
  text-decoration-line: none;
}
.root .collectionsbestSellingTeaware:hover {
  color: var(--token-8jLkKh2mD);
}
.text__izyr3 {
  padding-left: 8px;
  height: auto;
}
.collectionsteaGifts {
  display: flex;
  text-decoration-line: none;
}
.root .collectionsteaGifts:hover {
  color: var(--token-8jLkKh2mD);
}
.text__hkeE9 {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 8px;
}
.svg__g8RIj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #1f1f1f;
  width: 12px;
  height: 12px;
  opacity: 1;
  transition-property: all;
  transition-duration: 1s;
  display: block;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  margin: var(--token-Dpi4Tw_Jy) var(--token-1PLQr-EyN) var(--token-1PLQr-EyN);
}
.freeBox__rjGp5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-top: 1px none #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.accordian___2Yi7M:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__fhGxj {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: var(--token-vCMxBaVg-);
  align-self: center;
  min-width: 0;
}
.freeBox__g3Uw {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-pI4rEvTz3);
  padding-bottom: var(--token-pI4rEvTz3);
  min-width: 0;
}
.freeBox__g3Uw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__g3Uw > :global(.__wab_flex-container) > *,
.freeBox__g3Uw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g3Uw > :global(.__wab_flex-container) > picture > img,
.freeBox__g3Uw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.collectionsmugs {
  display: flex;
  text-decoration-line: none;
}
.root .collectionsmugs:hover {
  color: var(--token-8jLkKh2mD);
}
.text__mWUhH {
  padding-left: 8px;
}
.collectionsteapotsTeaMakers {
  display: flex;
  text-decoration-line: none;
}
.root .collectionsteapotsTeaMakers:hover {
  color: var(--token-8jLkKh2mD);
}
.text__focKp {
  padding-left: 8px;
  height: auto;
}
.collectionsfiltersInfusers {
  display: flex;
  text-decoration-line: none;
}
.root .collectionsfiltersInfusers:hover {
  color: var(--token-8jLkKh2mD);
}
.text__sjBtk {
  padding: 0px 0px 0px 8px;
}
.collectionsteaAccessoriesAll {
  display: flex;
  text-decoration-line: none;
}
.root .collectionsteaAccessoriesAll:hover {
  color: var(--token-8jLkKh2mD);
}
.text__pPhk {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 8px;
}
.svg___0Zxng {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #1f1f1f;
  width: 12px;
  height: 12px;
  opacity: 1;
  transition-property: all;
  transition-duration: 1s;
  display: block;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  margin: var(--token-Dpi4Tw_Jy) var(--token-1PLQr-EyN) var(--token-1PLQr-EyN);
}
.mobileEcomFeature:global(.__wab_instance) {
  position: relative;
}
.img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  flex-basis: auto;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___7YFil {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___7YFil > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox___7YFil > :global(.__wab_flex-container) > *,
.freeBox___7YFil > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7YFil > :global(.__wab_flex-container) > picture > img,
.freeBox___7YFil
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.text__mhSfi {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: var(--token-vCMxBaVg-);
  min-width: 0;
}
.text__jSfhj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
