.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__tddcH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-1PLQr-EyN) var(--token-pI4rEvTz3);
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__mWbRt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-style: solid;
  border-top-width: 1px;
  min-width: 0;
}
.sectionMobileMenuSubmenuLink___7Fik:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.sectionMobileMenuSubmenuLink___98P5F:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__zy1Al {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__stfTv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__a8Otw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__fj3Km {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__m0SdH {
  height: auto;
}
.freeBox__piWIo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___25Y4P {
  height: auto;
}
.freeBox___3Gmeu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__re8Qv {
  height: auto;
}
.freeBox__fit7N {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 8px;
}
.accordian:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__cquVg {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: var(--token-vCMxBaVg-);
  align-self: center;
  min-width: 0;
}
.text___9WoAg {
  padding-left: 8px;
}
.text__wlC54 {
  padding-left: 8px;
}
.text___85Wma {
  padding: 0px 0px 0px 8px;
}
