.root {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f2f2f2;
  position: relative;
  min-width: 0;
  border-radius: 5px;
  padding: var(--token-pI4rEvTz3);
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-pI4rEvTz3));
  width: calc(100% + var(--token-pI4rEvTz3));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-pI4rEvTz3);
}
@media (min-width: 600px) {
  .root {
    padding: var(--token-kuG7Bh3dw);
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 600px) {
  .img {
    width: 110px;
    height: 110px;
    flex-shrink: 0;
  }
}
.freeBox__aCo56 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 1200px) {
  .freeBox__aCo56 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-row-gap: 0px;
  }
}
.freeBox__f1R5D {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  font-size: var(--token-Ly9tGQi7U);
  margin-bottom: var(--token-rP56rnpft);
  font-weight: 700;
  min-width: 0;
}
@media (min-width: 600px) {
  .h3 {
    font-size: var(--token-pYYJwVvLY);
  }
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  font-size: var(--token-FEUOUMMf-);
  margin-bottom: var(--token-Dpi4Tw_Jy);
  min-width: 0;
}
@media (min-width: 600px) {
  .text {
    font-size: var(--token-wKlQUFzur);
  }
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__srNWf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__vtE7D {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
