.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  flex-shrink: 1;
  flex-wrap: wrap;
  position: relative;
  min-width: 0;
}
.root > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 900px) {
  .root {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    padding-top: var(--token-pI4rEvTz3);
    padding-bottom: var(--token-pI4rEvTz3);
    flex-row-gap: 0px;
  }
}
@media (min-width: 900px) {
  .root > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 900px) {
  .root > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 1200px) {
  .root > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 1200px) {
  .root > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
.column___4Cny {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-top: var(--token-o8VnbrgjB);
  padding-bottom: var(--token-o8VnbrgjB);
  min-width: 0;
}
@media (min-width: 900px) {
  .column___4Cny {
    justify-content: center;
    align-items: center;
    padding: var(--token-ZUvIeBy-p) var(--token-kuG7Bh3dw);
  }
}
.pageRow:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 600px) {
  .pageRow:global(.__wab_instance) {
    max-width: 100%;
    position: relative;
  }
}
@media (min-width: 900px) {
  .pageRow:global(.__wab_instance) {
    max-width: 100%;
    position: relative;
  }
}
@media (min-width: 1200px) {
  .pageRow:global(.__wab_instance) {
    max-width: 100%;
    position: relative;
  }
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: var(--token-ZUvIeBy-p);
  margin-top: var(--token-o8VnbrgjB);
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
@media (min-width: 600px) {
  .h2 {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: var(--token-ZUvIeBy-p);
    margin-top: var(--token-ZUvIeBy-p);
    justify-content: center;
    min-width: 0;
  }
}
@media (min-width: 900px) {
  .h2 {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: auto;
    justify-content: center;
    min-width: 0;
  }
}
@media (min-width: 1200px) {
  .h2 {
    margin-top: auto;
    margin-bottom: var(--token-o8VnbrgjB);
    position: relative;
    width: 100%;
    height: auto;
    justify-content: center;
    min-width: 0;
  }
}
.slotTargetChildren {
  font-size: var(--token-vCMxBaVg-);
  font-weight: 600;
  color: #222222;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 600px) {
  .slotTargetChildren {
    font-size: var(--token-Ly9tGQi7U);
    font-weight: 600;
    color: #222222;
    text-align: center;
    text-transform: uppercase;
  }
}
@media (min-width: 900px) {
  .slotTargetChildren {
    font-size: var(--token-Ly9tGQi7U);
    font-weight: 600;
    color: #222222;
    text-align: center;
    text-transform: uppercase;
  }
}
@media (min-width: 1200px) {
  .slotTargetChildren {
    font-size: var(--token-pYYJwVvLY);
    font-weight: 600;
    color: #222222;
    text-align: center;
    text-transform: uppercase;
  }
}
.freeBox__myvkB {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  width: 100%;
  height: auto;
  grid-column-gap: var(--token-o8VnbrgjB);
  grid-row-gap: var(--token-ZUvIeBy-p);
  padding-right: var(--token-o8VnbrgjB);
  padding-left: var(--token-o8VnbrgjB);
  min-width: 0;
}
@media (min-width: 600px) {
  .freeBox__myvkB {
    grid-row-gap: var(--token-Cuq0PrFOy);
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    grid-column-gap: var(--token-o8VnbrgjB);
    min-width: 0;
  }
}
@media (min-width: 900px) {
  .freeBox__myvkB {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    display: grid;
    position: relative;
    width: 100%;
    height: auto;
    grid-column-gap: 24px;
    grid-row-gap: var(--token-kuG7Bh3dw);
    padding-left: var(--token-ZUvIeBy-p);
    padding-right: var(--token-ZUvIeBy-p);
    min-width: 0;
  }
}
@media (min-width: 1200px) {
  .freeBox__myvkB {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    display: grid;
    position: relative;
    width: 100%;
    height: auto;
    grid-column-gap: 24px;
    grid-row-gap: var(--token-kuG7Bh3dw);
    min-width: 0;
  }
}
.freeBox__fFlnA {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 100%;
}
.freeBox__fFlnA > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - var(--token-ZUvIeBy-p));
  height: calc(100% + var(--token-ZUvIeBy-p));
}
.freeBox__fFlnA > :global(.__wab_flex-container) > *,
.freeBox__fFlnA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fFlnA > :global(.__wab_flex-container) > picture > img,
.freeBox__fFlnA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-ZUvIeBy-p);
}
@media (min-width: 600px) {
  .freeBox__fFlnA {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 100%;
  }
}
@media (min-width: 600px) {
  .freeBox__fFlnA > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-Cuq0PrFOy));
    height: calc(100% + var(--token-Cuq0PrFOy));
  }
}
@media (min-width: 600px) {
  .freeBox__fFlnA > :global(.__wab_flex-container) > *,
  .freeBox__fFlnA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fFlnA > :global(.__wab_flex-container) > picture > img,
  .freeBox__fFlnA
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-Cuq0PrFOy);
  }
}
@media (min-width: 900px) {
  .freeBox__fFlnA {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 100%;
  }
}
@media (min-width: 900px) {
  .freeBox__fFlnA > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-kuG7Bh3dw));
    height: calc(100% + var(--token-kuG7Bh3dw));
  }
}
@media (min-width: 900px) {
  .freeBox__fFlnA > :global(.__wab_flex-container) > *,
  .freeBox__fFlnA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fFlnA > :global(.__wab_flex-container) > picture > img,
  .freeBox__fFlnA
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-kuG7Bh3dw);
  }
}
@media (min-width: 1200px) {
  .freeBox__fFlnA {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .freeBox__fFlnA > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-kuG7Bh3dw));
    height: calc(100% + var(--token-kuG7Bh3dw));
  }
}
@media (min-width: 1200px) {
  .freeBox__fFlnA > :global(.__wab_flex-container) > *,
  .freeBox__fFlnA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fFlnA > :global(.__wab_flex-container) > picture > img,
  .freeBox__fFlnA
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-kuG7Bh3dw);
  }
}
.freeBox__knUxm {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 100%;
}
.freeBox__knUxm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 600px) {
  .freeBox__knUxm {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 100%;
  }
}
@media (min-width: 600px) {
  .freeBox__knUxm > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 600px) {
  .freeBox__knUxm > :global(.__wab_flex-container) > *,
  .freeBox__knUxm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__knUxm > :global(.__wab_flex-container) > picture > img,
  .freeBox__knUxm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (min-width: 900px) {
  .freeBox__knUxm {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 100%;
  }
}
@media (min-width: 900px) {
  .freeBox__knUxm > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 900px) {
  .freeBox__knUxm > :global(.__wab_flex-container) > *,
  .freeBox__knUxm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__knUxm > :global(.__wab_flex-container) > picture > img,
  .freeBox__knUxm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (min-width: 1200px) {
  .freeBox__knUxm {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .freeBox__knUxm > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
    height: calc(100% + var(--token-Dpi4Tw_Jy));
  }
}
@media (min-width: 1200px) {
  .freeBox__knUxm > :global(.__wab_flex-container) > *,
  .freeBox__knUxm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__knUxm > :global(.__wab_flex-container) > picture > img,
  .freeBox__knUxm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-Dpi4Tw_Jy);
  }
}
.img__dDl3M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 55px;
  height: 55px;
  flex-shrink: 0;
}
.img__dDl3M > picture > img {
  object-fit: cover;
}
.img__dDl3M > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 1200px) {
  .img__dDl3M {
    width: 70px;
    height: 70px;
    position: relative;
    object-fit: cover;
    max-width: 100%;
    flex-shrink: 0;
  }
}
@media (min-width: 1200px) {
  .img__dDl3M > picture > img {
    object-fit: cover;
  }
}
@media (min-width: 1200px) {
  .img__dDl3M > .__wab_img-spacer > img {
    object-fit: cover;
  }
}
.text___6GUfk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 352px;
  text-align: center;
  font-size: var(--token-vCMxBaVg-);
  min-width: 0;
}
@media (min-width: 600px) {
  .text___6GUfk {
    font-size: var(--token-pYYJwVvLY);
    max-width: 345px;
    width: 100%;
    position: relative;
    height: auto;
    text-align: center;
    min-width: 0;
  }
}
@media (min-width: 900px) {
  .text___6GUfk {
    font-size: var(--token-vCMxBaVg-);
    max-width: 360px;
    width: 100%;
    position: relative;
    height: auto;
    text-align: center;
    color: #222222;
    min-width: 0;
  }
}
@media (min-width: 1200px) {
  .text___6GUfk {
    max-width: 332px;
    width: 100%;
    font-size: var(--token-Ly9tGQi7U);
    position: relative;
    height: auto;
    text-align: center;
    min-width: 0;
  }
}
.freeBox__oi1E {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 100%;
}
.freeBox__oi1E > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 900px) {
  .freeBox__oi1E {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 100%;
  }
}
@media (min-width: 900px) {
  .freeBox__oi1E > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 900px) {
  .freeBox__oi1E > :global(.__wab_flex-container) > *,
  .freeBox__oi1E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oi1E > :global(.__wab_flex-container) > picture > img,
  .freeBox__oi1E
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (min-width: 1200px) {
  .freeBox__oi1E {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .freeBox__oi1E > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
    height: calc(100% + var(--token-Dpi4Tw_Jy));
  }
}
@media (min-width: 1200px) {
  .freeBox__oi1E > :global(.__wab_flex-container) > *,
  .freeBox__oi1E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oi1E > :global(.__wab_flex-container) > picture > img,
  .freeBox__oi1E
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-Dpi4Tw_Jy);
  }
}
.img__viS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 55px;
  height: 55px;
  flex-shrink: 0;
}
.img__viS > picture > img {
  object-fit: cover;
}
.img__viS > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 1200px) {
  .img__viS {
    width: 70px;
    height: 70px;
    position: relative;
    object-fit: cover;
    max-width: 100%;
    flex-shrink: 0;
  }
}
@media (min-width: 1200px) {
  .img__viS > picture > img {
    object-fit: cover;
  }
}
@media (min-width: 1200px) {
  .img__viS > .__wab_img-spacer > img {
    object-fit: cover;
  }
}
.text__y5Oh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 258px;
  text-align: center;
  font-size: var(--token-vCMxBaVg-);
  min-width: 0;
}
@media (min-width: 600px) {
  .text__y5Oh {
    font-size: var(--token-pYYJwVvLY);
    max-width: 285px;
    width: 100%;
    position: relative;
    height: auto;
    text-align: center;
    min-width: 0;
  }
}
@media (min-width: 900px) {
  .text__y5Oh {
    font-size: var(--token-vCMxBaVg-);
    max-width: 285px;
    width: 100%;
    position: relative;
    height: auto;
    text-align: center;
    min-width: 0;
  }
}
@media (min-width: 1200px) {
  .text__y5Oh {
    font-size: var(--token-Ly9tGQi7U);
    max-width: 285px;
    width: 100%;
    position: relative;
    height: auto;
    text-align: center;
    min-width: 0;
  }
}
.freeBox___2J5Im {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  display: none;
}
@media (min-width: 600px) {
  .freeBox___2J5Im {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    flex-column-gap: 0px;
    display: none;
  }
}
@media (min-width: 900px) {
  .freeBox___2J5Im {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    flex-column-gap: 0px;
    display: none;
  }
}
@media (min-width: 1200px) {
  .freeBox___2J5Im {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    flex-column-gap: 0px;
  }
}
.img__rvcia {
  object-fit: cover;
  max-width: 100%;
  width: 214px;
}
.img__rvcia > picture > img {
  object-fit: cover;
}
.img__rvcia > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 900px) {
  .img__rvcia {
    width: 100%;
    object-fit: cover;
    max-width: 100%;
    min-width: 0;
    display: none !important;
  }
}
@media (min-width: 900px) {
  .img__rvcia > picture > img {
    object-fit: cover;
  }
}
@media (min-width: 900px) {
  .img__rvcia > .__wab_img-spacer > img {
    object-fit: cover;
  }
}
@media (min-width: 1200px) {
  .img__rvcia {
    width: 545px;
    object-fit: cover;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .img__rvcia > picture > img {
    object-fit: cover;
  }
}
@media (min-width: 1200px) {
  .img__rvcia > .__wab_img-spacer > img {
    object-fit: cover;
  }
}
.freeBox___0Erq6 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 100%;
}
.freeBox___0Erq6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - var(--token-ZUvIeBy-p));
  height: calc(100% + var(--token-ZUvIeBy-p));
}
.freeBox___0Erq6 > :global(.__wab_flex-container) > *,
.freeBox___0Erq6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Erq6 > :global(.__wab_flex-container) > picture > img,
.freeBox___0Erq6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-ZUvIeBy-p);
}
@media (min-width: 600px) {
  .freeBox___0Erq6 {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 100%;
  }
}
@media (min-width: 600px) {
  .freeBox___0Erq6 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-Cuq0PrFOy));
    height: calc(100% + var(--token-Cuq0PrFOy));
  }
}
@media (min-width: 600px) {
  .freeBox___0Erq6 > :global(.__wab_flex-container) > *,
  .freeBox___0Erq6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0Erq6 > :global(.__wab_flex-container) > picture > img,
  .freeBox___0Erq6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-Cuq0PrFOy);
  }
}
@media (min-width: 900px) {
  .freeBox___0Erq6 {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 100%;
  }
}
@media (min-width: 900px) {
  .freeBox___0Erq6 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-kuG7Bh3dw));
    height: calc(100% + var(--token-kuG7Bh3dw));
  }
}
@media (min-width: 900px) {
  .freeBox___0Erq6 > :global(.__wab_flex-container) > *,
  .freeBox___0Erq6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0Erq6 > :global(.__wab_flex-container) > picture > img,
  .freeBox___0Erq6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-kuG7Bh3dw);
  }
}
@media (min-width: 1200px) {
  .freeBox___0Erq6 {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .freeBox___0Erq6 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-kuG7Bh3dw));
    height: calc(100% + var(--token-kuG7Bh3dw));
  }
}
@media (min-width: 1200px) {
  .freeBox___0Erq6 > :global(.__wab_flex-container) > *,
  .freeBox___0Erq6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0Erq6 > :global(.__wab_flex-container) > picture > img,
  .freeBox___0Erq6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-kuG7Bh3dw);
  }
}
.freeBox__dWOo {
  flex-direction: column;
  display: flex;
  max-width: 100%;
}
.freeBox__dWOo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 900px) {
  .freeBox__dWOo {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}
@media (min-width: 900px) {
  .freeBox__dWOo > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 900px) {
  .freeBox__dWOo > :global(.__wab_flex-container) > *,
  .freeBox__dWOo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dWOo > :global(.__wab_flex-container) > picture > img,
  .freeBox__dWOo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (min-width: 1200px) {
  .freeBox__dWOo {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .freeBox__dWOo > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
    height: calc(100% + var(--token-Dpi4Tw_Jy));
  }
}
@media (min-width: 1200px) {
  .freeBox__dWOo > :global(.__wab_flex-container) > *,
  .freeBox__dWOo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dWOo > :global(.__wab_flex-container) > picture > img,
  .freeBox__dWOo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-Dpi4Tw_Jy);
  }
}
.img__iQwM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 55px;
  height: 55px;
  flex-shrink: 0;
}
.img__iQwM > picture > img {
  object-fit: cover;
}
.img__iQwM > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 1200px) {
  .img__iQwM {
    width: 70px;
    height: 70px;
    position: relative;
    object-fit: cover;
    max-width: 100%;
    flex-shrink: 0;
  }
}
@media (min-width: 1200px) {
  .img__iQwM > picture > img {
    object-fit: cover;
  }
}
@media (min-width: 1200px) {
  .img__iQwM > .__wab_img-spacer > img {
    object-fit: cover;
  }
}
.text__tSo7M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 264px;
  text-align: center;
  font-size: var(--token-vCMxBaVg-);
  min-width: 0;
}
@media (min-width: 600px) {
  .text__tSo7M {
    font-size: var(--token-pYYJwVvLY);
    max-width: 306px;
    width: 100%;
    position: relative;
    height: auto;
    text-align: center;
    min-width: 0;
  }
}
@media (min-width: 900px) {
  .text__tSo7M {
    font-size: var(--token-vCMxBaVg-);
    max-width: 306px;
    width: 100%;
    position: relative;
    height: auto;
    text-align: center;
    min-width: 0;
  }
}
@media (min-width: 1200px) {
  .text__tSo7M {
    font-size: var(--token-Ly9tGQi7U);
    max-width: 306px;
    width: 100%;
    position: relative;
    height: auto;
    text-align: center;
    min-width: 0;
  }
}
.freeBox__mx037 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 100%;
}
.freeBox__mx037 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 900px) {
  .freeBox__mx037 {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 100%;
  }
}
@media (min-width: 900px) {
  .freeBox__mx037 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 900px) {
  .freeBox__mx037 > :global(.__wab_flex-container) > *,
  .freeBox__mx037 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mx037 > :global(.__wab_flex-container) > picture > img,
  .freeBox__mx037
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (min-width: 1200px) {
  .freeBox__mx037 {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .freeBox__mx037 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
    height: calc(100% + var(--token-Dpi4Tw_Jy));
  }
}
@media (min-width: 1200px) {
  .freeBox__mx037 > :global(.__wab_flex-container) > *,
  .freeBox__mx037 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mx037 > :global(.__wab_flex-container) > picture > img,
  .freeBox__mx037
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-Dpi4Tw_Jy);
  }
}
.img__enUtQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 55px;
  height: 55px;
  flex-shrink: 0;
}
.img__enUtQ > picture > img {
  object-fit: cover;
}
.img__enUtQ > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 1200px) {
  .img__enUtQ {
    width: 70px;
    height: 70px;
    position: relative;
    object-fit: cover;
    max-width: 100%;
    flex-shrink: 0;
  }
}
@media (min-width: 1200px) {
  .img__enUtQ > picture > img {
    object-fit: cover;
  }
}
@media (min-width: 1200px) {
  .img__enUtQ > .__wab_img-spacer > img {
    object-fit: cover;
  }
}
.text__khPro {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 261px;
  text-align: center;
  font-size: var(--token-vCMxBaVg-);
  min-width: 0;
}
@media (min-width: 600px) {
  .text__khPro {
    font-size: var(--token-pYYJwVvLY);
    max-width: 298px;
    width: 100%;
    position: relative;
    height: auto;
    text-align: center;
    min-width: 0;
  }
}
@media (min-width: 900px) {
  .text__khPro {
    font-size: var(--token-vCMxBaVg-);
    max-width: 298px;
    width: 100%;
    position: relative;
    height: auto;
    text-align: center;
    min-width: 0;
  }
}
@media (min-width: 1200px) {
  .text__khPro {
    font-size: var(--token-Ly9tGQi7U);
  }
}
.column__yl32E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 900px) {
  .column__yl32E {
    justify-content: center;
    align-items: center;
    padding: var(--token-o8VnbrgjB) 0px var(--token-o8VnbrgjB)
      var(--token-kuG7Bh3dw);
  }
}
.img__aePgu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: var(--token-o8VnbrgjB);
  margin-right: var(--token-kuG7Bh3dw);
  margin-left: var(--token-kuG7Bh3dw);
  border-radius: 10px;
}
.img__aePgu > picture > img {
  object-fit: cover;
}
.img__aePgu > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 900px) {
  .img__aePgu {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    margin: auto;
  }
}
