.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: var(--token-o8VnbrgjB) var(--token-kuG7Bh3dw);
  border-top: 1px solid #bdbdbd80;
}
.freeBox__ujITd {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ujITd > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-o8VnbrgjB));
  width: calc(100% + var(--token-o8VnbrgjB));
}
.freeBox__ujITd > :global(.__wab_flex-container) > *,
.freeBox__ujITd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ujITd > :global(.__wab_flex-container) > picture > img,
.freeBox__ujITd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-o8VnbrgjB);
}
.joinCtaBlock {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  background: #d3ead9;
  transition-property: all;
  transition-duration: 300ms;
  height: auto;
  min-width: 180px;
  margin-right: 3%;
  text-decoration-line: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 300ms;
  border-radius: 10px;
  padding: var(--token-rP56rnpft) var(--token-pI4rEvTz3);
  border-style: none;
}
.joinCtaBlock > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.joinCtaBlock > :global(.__wab_flex-container) > *,
.joinCtaBlock > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.joinCtaBlock > :global(.__wab_flex-container) > picture > img,
.joinCtaBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.root .joinCtaBlock:hover {
  background: #bcdfc6;
  color: var(--token-8jLkKh2mD);
}
.freeBox__voocU {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  max-width: 100%;
  background: #d3ead9;
  transition-property: all;
  transition-duration: 300ms;
  height: auto;
  -webkit-transition-property: all;
  -webkit-transition-duration: 300ms;
  border-radius: 10px;
  padding: var(--token-rP56rnpft) var(--token-Dpi4Tw_Jy);
  border-style: none;
}
.freeBox__voocU > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__voocU > :global(.__wab_flex-container) > *,
.freeBox__voocU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__voocU > :global(.__wab_flex-container) > picture > img,
.freeBox__voocU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.root .freeBox__voocU:hover {
  background: #bcdfc6;
}
.freeBox__yxZuq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__vD97L {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__l7OP {
  width: 100%;
  height: auto;
  max-width: 820px;
  font-weight: 600;
  min-width: 0;
}
.text__uKKzk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: var(--token-wKlQUFzur);
  min-width: 0;
  padding: 0px;
}
.featured {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  min-width: 0;
}
.featured > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-pI4rEvTz3));
  height: calc(100% + var(--token-pI4rEvTz3));
}
.featured > :global(.__wab_flex-container) > *,
.featured > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.featured > :global(.__wab_flex-container) > picture > img,
.featured
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-pI4rEvTz3);
}
.p__wOk2R {
  position: relative;
  text-align: left;
  font-size: var(--token-vCMxBaVg-);
  font-weight: 600;
}
.freeBox__gRdv {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__gRdv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__gRdv > :global(.__wab_flex-container) > *,
.freeBox__gRdv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gRdv > :global(.__wab_flex-container) > picture > img,
.freeBox__gRdv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.menuLinkDesktop__ikrnX:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop__wfws3:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop__nXxbd:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop__ofhlY:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop__eDrgJ:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop___4Z1Fo:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop__opFzN:global(.__wab_instance) {
  position: relative;
}
.teas {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.teas > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-pI4rEvTz3));
  height: calc(100% + var(--token-pI4rEvTz3));
}
.teas > :global(.__wab_flex-container) > *,
.teas > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.teas > :global(.__wab_flex-container) > picture > img,
.teas > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-pI4rEvTz3);
}
.p__qfv9Y {
  position: relative;
  text-align: left;
  font-size: var(--token-vCMxBaVg-);
  font-weight: 600;
}
.freeBox__jaDtG {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__jaDtG > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__jaDtG > :global(.__wab_flex-container) > *,
.freeBox__jaDtG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jaDtG > :global(.__wab_flex-container) > picture > img,
.freeBox__jaDtG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.menuLinkDesktop__qOW:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop__wPs6N:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop___7WhSy:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop__gWml9:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop__v1IcM:global(.__wab_instance) {
  position: relative;
}
.flavors {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  min-width: 0;
}
.flavors > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-pI4rEvTz3));
  height: calc(100% + var(--token-pI4rEvTz3));
}
.flavors > :global(.__wab_flex-container) > *,
.flavors > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.flavors > :global(.__wab_flex-container) > picture > img,
.flavors
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-pI4rEvTz3);
}
.p__og8Ac {
  position: relative;
  text-align: left;
  font-size: var(--token-vCMxBaVg-);
  font-weight: 600;
}
.freeBox__uczX0 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__uczX0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__uczX0 > :global(.__wab_flex-container) > *,
.freeBox__uczX0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uczX0 > :global(.__wab_flex-container) > picture > img,
.freeBox__uczX0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.menuLinkDesktop__zq43R:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__wJO {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__wJO > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-Dpi4Tw_Jy));
  width: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__wJO > :global(.__wab_flex-container) > *,
.freeBox__wJO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wJO > :global(.__wab_flex-container) > picture > img,
.freeBox__wJO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Dpi4Tw_Jy);
}
.svg__di7Rp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 8px;
  color: #b6a9bb;
  flex-shrink: 0;
  height: 1em;
}
.menuLinkDesktop__uzc4H:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__xXrIy {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xXrIy > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-Dpi4Tw_Jy));
  width: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__xXrIy > :global(.__wab_flex-container) > *,
.freeBox__xXrIy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xXrIy > :global(.__wab_flex-container) > picture > img,
.freeBox__xXrIy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Dpi4Tw_Jy);
}
.svg__n33QO {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 8px;
  color: #ba9945;
  flex-shrink: 0;
  height: 1em;
}
.menuLinkDesktop__sHaN4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__rAnBh {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__rAnBh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-Dpi4Tw_Jy));
  width: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__rAnBh > :global(.__wab_flex-container) > *,
.freeBox__rAnBh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rAnBh > :global(.__wab_flex-container) > picture > img,
.freeBox__rAnBh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Dpi4Tw_Jy);
}
.svg__clw4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 8px;
  color: #755050;
  flex-shrink: 0;
  height: 1em;
}
.menuLinkDesktop__qBmDd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__teOy {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__teOy > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-Dpi4Tw_Jy));
  width: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__teOy > :global(.__wab_flex-container) > *,
.freeBox__teOy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__teOy > :global(.__wab_flex-container) > picture > img,
.freeBox__teOy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Dpi4Tw_Jy);
}
.svg__r2SxS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 8px;
  color: #d1a7ff;
  flex-shrink: 0;
  height: 1em;
}
.menuLinkDesktop__hjhy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__o4LmR {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__o4LmR > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-Dpi4Tw_Jy));
  width: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__o4LmR > :global(.__wab_flex-container) > *,
.freeBox__o4LmR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o4LmR > :global(.__wab_flex-container) > picture > img,
.freeBox__o4LmR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Dpi4Tw_Jy);
}
.svg__dtZeo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 8px;
  color: #01bb40;
  flex-shrink: 0;
  height: 1em;
}
.menuLinkDesktop__uh1Bc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___6Tqk {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___6Tqk > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-Dpi4Tw_Jy));
  width: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox___6Tqk > :global(.__wab_flex-container) > *,
.freeBox___6Tqk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Tqk > :global(.__wab_flex-container) > picture > img,
.freeBox___6Tqk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Dpi4Tw_Jy);
}
.svg__kUu5B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 8px;
  color: #ffbd8d;
  flex-shrink: 0;
  height: 1em;
}
.menuLinkDesktop___9JeVy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__niNC {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__niNC > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-Dpi4Tw_Jy));
  width: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__niNC > :global(.__wab_flex-container) > *,
.freeBox__niNC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__niNC > :global(.__wab_flex-container) > picture > img,
.freeBox__niNC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Dpi4Tw_Jy);
}
.svg___0TPdo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 8px;
  color: #ec157c;
  flex-shrink: 0;
  height: 1em;
}
.menuLinkDesktop__mAvc4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__qQgOe {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__qQgOe > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-Dpi4Tw_Jy));
  width: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__qQgOe > :global(.__wab_flex-container) > *,
.freeBox__qQgOe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qQgOe > :global(.__wab_flex-container) > picture > img,
.freeBox__qQgOe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Dpi4Tw_Jy);
}
.svg__kaNGt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 8px;
  color: #f1a5ea;
  flex-shrink: 0;
  height: 1em;
}
.types {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  min-width: 0;
}
.types > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-pI4rEvTz3));
  height: calc(100% + var(--token-pI4rEvTz3));
}
.types > :global(.__wab_flex-container) > *,
.types > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.types > :global(.__wab_flex-container) > picture > img,
.types > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-pI4rEvTz3);
}
.p__p50O {
  position: relative;
  text-align: left;
  font-size: var(--token-vCMxBaVg-);
  font-weight: 600;
}
.freeBox__oqCzR {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__oqCzR > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__oqCzR > :global(.__wab_flex-container) > *,
.freeBox__oqCzR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oqCzR > :global(.__wab_flex-container) > picture > img,
.freeBox__oqCzR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.menuLinkDesktop__zhDk0:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop__eGlVa:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop__eTbCt:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop__goEhr:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop___7SpzX:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop___4FVz:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop__xK0Sw:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop__n8Bm9:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop__es2Ny:global(.__wab_instance) {
  position: relative;
}
.benefit {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  min-width: 0;
}
.benefit > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-pI4rEvTz3));
  height: calc(100% + var(--token-pI4rEvTz3));
}
.benefit > :global(.__wab_flex-container) > *,
.benefit > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.benefit > :global(.__wab_flex-container) > picture > img,
.benefit
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-pI4rEvTz3);
}
.p__a2Fl4 {
  position: relative;
  text-align: left;
  font-size: var(--token-vCMxBaVg-);
  font-weight: 600;
}
.freeBox___3YsBz {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___3YsBz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox___3YsBz > :global(.__wab_flex-container) > *,
.freeBox___3YsBz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3YsBz > :global(.__wab_flex-container) > picture > img,
.freeBox___3YsBz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.menuLinkDesktop___9Vg0V:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop__vv4L:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop__jiWt:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop___4JtkK:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop__ikPWv:global(.__wab_instance) {
  position: relative;
}
