.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: #facd9f;
  min-width: 0;
}
.columns {
  flex-direction: row;
  display: flex;
  flex-shrink: 0;
  width: auto;
  height: auto;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 600px) {
  .columns {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 600px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 600px) {
  .columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 600px) {
  .columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 600px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (min-width: 900px) {
  .columns {
    flex-direction: row-reverse;
  }
}
@media (min-width: 900px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row-reverse;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 900px) {
  .columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 900px) {
  .columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 900px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.columnsswapBlocksMobile > :global(.__wab_flex-container) {
  flex-wrap: wrap-reverse;
}
.columnsswapBlocksMobile > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
.columnsswapBlocks > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 600px) {
  .columnsswapBlocks {
    flex-direction: row;
  }
}
@media (min-width: 600px) {
  .columnsswapBlocks > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 600px) {
  .columnsswapBlocks > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 600px) {
  .columnsswapBlocks > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 600px) {
  .columnsswapBlocks > :global(.__wab_flex-container) > *,
  .columnsswapBlocks
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .columnsswapBlocks > :global(.__wab_flex-container) > picture > img,
  .columnsswapBlocks
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.column__dQVb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.link__vFgIr {
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  display: flex;
  height: 100%;
}
.img__gBqYf {
  object-fit: contain;
  height: 100%;
  width: 100%;
  flex-basis: auto;
  border-radius: 10px;
}
.img__gBqYf > picture > img {
  object-fit: contain;
}
.img__gBqYf > .__wab_img-spacer > img {
  object-fit: contain;
}
.column__bUUin {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-Cuq0PrFOy);
  padding-bottom: var(--token-Cuq0PrFOy);
  min-width: 0;
}
.column__bUUin > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-pI4rEvTz3));
  height: calc(100% + var(--token-pI4rEvTz3));
}
.column__bUUin > :global(.__wab_flex-container) > *,
.column__bUUin > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__bUUin > :global(.__wab_flex-container) > picture > img,
.column__bUUin
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-pI4rEvTz3);
}
@media (min-width: 600px) {
  .column__bUUin {
    padding: var(--token-pI4rEvTz3);
  }
}
@media (min-width: 900px) {
  .column__bUUin {
    padding: var(--token-Cuq0PrFOy);
  }
}
@media (min-width: 900px) {
  .column__bUUin > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-pI4rEvTz3));
    height: calc(100% + var(--token-pI4rEvTz3));
  }
}
@media (min-width: 900px) {
  .column__bUUin > :global(.__wab_flex-container) > *,
  .column__bUUin > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column__bUUin > :global(.__wab_flex-container) > picture > img,
  .column__bUUin
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-pI4rEvTz3);
  }
}
@media (min-width: 1200px) {
  .column__bUUin {
    padding: var(--token-ZUvIeBy-p);
  }
}
@media (min-width: 1200px) {
  .column__bUUin > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-kuG7Bh3dw));
    height: calc(100% + var(--token-kuG7Bh3dw));
  }
}
@media (min-width: 1200px) {
  .column__bUUin > :global(.__wab_flex-container) > *,
  .column__bUUin > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column__bUUin > :global(.__wab_flex-container) > picture > img,
  .column__bUUin
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-kuG7Bh3dw);
  }
}
.pageRow:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__u2IwI {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.freeBox__u2IwI > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - var(--token-1PLQr-EyN));
  height: calc(100% + var(--token-1PLQr-EyN));
}
.freeBox__u2IwI > :global(.__wab_flex-container) > *,
.freeBox__u2IwI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u2IwI > :global(.__wab_flex-container) > picture > img,
.freeBox__u2IwI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-1PLQr-EyN);
}
@media (min-width: 900px) {
  .freeBox__u2IwI > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-pI4rEvTz3));
    height: calc(100% + var(--token-pI4rEvTz3));
  }
}
@media (min-width: 900px) {
  .freeBox__u2IwI > :global(.__wab_flex-container) > *,
  .freeBox__u2IwI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__u2IwI > :global(.__wab_flex-container) > picture > img,
  .freeBox__u2IwI
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-pI4rEvTz3);
  }
}
.freeBox__syoR2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  width: 100%;
}
.slotTargetSlot {
  font-size: var(--token-9rrU0j5A8);
  font-weight: 500;
  text-align: center;
  white-space: pre-wrap;
}
@media (min-width: 1200px) {
  .slotTargetSlot {
    font-size: var(--token-yGyvxekek);
  }
}
.slotTargetSlot2 {
  font-size: var(--token-wKlQUFzur);
  text-align: center;
}
@media (min-width: 1200px) {
  .slotTargetSlot2 {
    font-size: var(--token-Ly9tGQi7U);
  }
}
.buttonLnUpdate___3EdNg:global(.__wab_instance) {
  max-width: 100%;
}
.svg__nEdX {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__keUvz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
