.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: var(--token-o8VnbrgjB) var(--token-kuG7Bh3dw);
  border-top: 1px solid #bdbdbd80;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 900px) {
  .columns > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 900px) {
  .columns > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
.column__zjib7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-right: var(--token-ZUvIeBy-p);
  min-width: 0;
}
.freeBox___5Zp9Z {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuColumn8 {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  padding-right: var(--token-1PLQr-EyN);
  min-width: 0;
}
.menuColumn8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-pI4rEvTz3));
  height: calc(100% + var(--token-pI4rEvTz3));
}
.menuColumn8 > :global(.__wab_flex-container) > *,
.menuColumn8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menuColumn8 > :global(.__wab_flex-container) > picture > img,
.menuColumn8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-pI4rEvTz3);
}
.p__pEsjI {
  position: relative;
  text-align: left;
  font-size: var(--token-vCMxBaVg-);
  font-weight: 600;
}
.freeBox__dqLqi {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__dqLqi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__dqLqi > :global(.__wab_flex-container) > *,
.freeBox__dqLqi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dqLqi > :global(.__wab_flex-container) > picture > img,
.freeBox__dqLqi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.menuLinkDesktop__uDycC:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop__vuMe9:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop__s9Rmt:global(.__wab_instance) {
  position: relative;
}
.menuColumn9 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  padding-right: var(--token-1PLQr-EyN);
  min-width: 0;
}
.menuColumn9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-pI4rEvTz3));
  height: calc(100% + var(--token-pI4rEvTz3));
}
.menuColumn9 > :global(.__wab_flex-container) > *,
.menuColumn9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menuColumn9 > :global(.__wab_flex-container) > picture > img,
.menuColumn9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-pI4rEvTz3);
}
.p__cj4Pd {
  position: relative;
  text-align: left;
  font-size: var(--token-vCMxBaVg-);
  font-weight: 600;
}
.freeBox__z09T4 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__z09T4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__z09T4 > :global(.__wab_flex-container) > *,
.freeBox__z09T4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z09T4 > :global(.__wab_flex-container) > picture > img,
.freeBox__z09T4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.menuLinkDesktop__yfSm:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop__zNtc:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop__ybc5O:global(.__wab_instance) {
  position: relative;
}
.menuLinkDesktop___9W0Hv:global(.__wab_instance) {
  position: relative;
}
.column__zhFm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.productColumn3 {
  flex-direction: column;
  display: flex;
  position: relative;
  height: auto;
  padding-right: var(--token-1PLQr-EyN);
  width: auto;
}
.productColumn3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - var(--token-pI4rEvTz3));
  height: calc(100% + var(--token-pI4rEvTz3));
}
.productColumn3 > :global(.__wab_flex-container) > *,
.productColumn3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.productColumn3 > :global(.__wab_flex-container) > picture > img,
.productColumn3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-pI4rEvTz3);
}
.p__q0Cgp {
  position: relative;
  text-align: left;
  font-size: var(--token-vCMxBaVg-);
  font-weight: 600;
  padding-bottom: 0px;
}
.freeBox___1Foil {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: visible;
  min-width: 0;
}
.freeBox___1Foil > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - var(--token-Dpi4Tw_Jy));
  width: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox___1Foil > :global(.__wab_flex-container) > *,
.freeBox___1Foil > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1Foil > :global(.__wab_flex-container) > picture > img,
.freeBox___1Foil
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Dpi4Tw_Jy);
}
.desktopMenuFeaturedBlock__ywH1B:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.img__zKbt8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__zKbt8 > picture > img {
  object-fit: cover;
}
.img__zKbt8 > .__wab_img-spacer > img {
  object-fit: cover;
}
.desktopMenuFeaturedBlock__cvYzj:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.img__y6BUo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__y6BUo > picture > img {
  object-fit: cover;
}
.img__y6BUo > .__wab_img-spacer > img {
  object-fit: cover;
}
.desktopMenuFeaturedBlock__kxs7L:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.img__xcRfn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__xcRfn > picture > img {
  object-fit: cover;
}
.img__xcRfn > .__wab_img-spacer > img {
  object-fit: cover;
}
