.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-decoration-line: none;
  min-width: 0;
}
.freeBox__q0Jve {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__q0Jve > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__q0Jve > :global(.__wab_flex-container) > *,
.freeBox__q0Jve > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q0Jve > :global(.__wab_flex-container) > picture > img,
.freeBox__q0Jve
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.freeBox__wMuxj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 10px;
}
.img___4Ax5D {
  object-fit: cover;
  max-width: 100%;
}
.img___4Ax5D > picture > img {
  object-fit: cover;
}
.img___4Ax5D > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__qEmQv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetSlot {
  font-size: var(--token-wKlQUFzur);
}
