.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox___1VBnV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-style: solid;
  min-width: 0;
}
.sectionMobileMenuMainMenuButton:global(.__wab_instance) {
  position: relative;
}
.freeBox___7BRSi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-top: 1px none #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.accordian___9R6Jb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__aPpBx {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: var(--token-vCMxBaVg-);
  align-self: center;
  min-width: 0;
}
.freeBox__nseIb {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-pI4rEvTz3);
  padding-bottom: var(--token-pI4rEvTz3);
  min-width: 0;
}
.freeBox__nseIb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__nseIb > :global(.__wab_flex-container) > *,
.freeBox__nseIb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nseIb > :global(.__wab_flex-container) > picture > img,
.freeBox__nseIb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.httpsmsipsbycompgift {
  display: flex;
  text-decoration-line: none;
}
.root .httpsmsipsbycompgift:hover {
  color: var(--token-8jLkKh2mD);
}
.text___2MYi {
  padding-left: 8px;
}
.collectionsbestSellingGifts {
  display: flex;
  text-decoration-line: none;
}
.root .collectionsbestSellingGifts:hover {
  color: var(--token-8jLkKh2mD);
}
.text__quLSm {
  padding-left: 8px;
  height: auto;
}
.productstheMiniBoxGiftACupOfTea {
  display: flex;
  text-decoration-line: none;
}
.root .productstheMiniBoxGiftACupOfTea:hover {
  color: var(--token-8jLkKh2mD);
}
.text__pq7G {
  padding: 0px 0px 0px 8px;
}
.collectionsteaGifts {
  display: flex;
  text-decoration-line: none;
}
.root .collectionsteaGifts:hover {
  color: var(--token-8jLkKh2mD);
}
.text__o9ISr {
  padding: 0px 0px 0px 8px;
}
.svg__anyV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #1f1f1f;
  width: 12px;
  height: 12px;
  opacity: 1;
  transition-property: all;
  transition-duration: 1s;
  display: block;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  margin: var(--token-Dpi4Tw_Jy) var(--token-1PLQr-EyN) var(--token-1PLQr-EyN);
}
.freeBox___1776 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-top: 1px none #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.accordian__gaOu7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__rhZo8 {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: var(--token-vCMxBaVg-);
  align-self: center;
  min-width: 0;
}
.freeBox__dbq6V {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-pI4rEvTz3);
  padding-bottom: var(--token-pI4rEvTz3);
  min-width: 0;
}
.freeBox__dbq6V > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox__dbq6V > :global(.__wab_flex-container) > *,
.freeBox__dbq6V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dbq6V > :global(.__wab_flex-container) > picture > img,
.freeBox__dbq6V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.collectionsbirthdayTeaShop {
  display: flex;
  text-decoration-line: none;
}
.root .collectionsbirthdayTeaShop:hover {
  color: var(--token-8jLkKh2mD);
}
.text__eN438 {
  padding-left: 8px;
}
.collectionsbridalTeaShop {
  display: flex;
  text-decoration-line: none;
}
.root .collectionsbridalTeaShop:hover {
  color: var(--token-8jLkKh2mD);
}
.text__gqqe {
  padding-left: 8px;
  height: auto;
  padding-bottom: 0px;
}
.productsappreciationTeaCarePack {
  display: flex;
  text-decoration-line: none;
  color: #222222;
}
.text__ypG9Z {
  padding: 0px 0px 0px 8px;
}
.collectionsfeelBetterTeaShop {
  display: flex;
  text-decoration-line: none;
}
.root .collectionsfeelBetterTeaShop:hover {
  color: var(--token-8jLkKh2mD);
}
.text___0Fggl {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  height: auto;
}
.productsiLoveYouMoreTeaKit {
  display: flex;
  text-decoration-line: none;
}
.root .productsiLoveYouMoreTeaKit:hover {
  color: var(--token-8jLkKh2mD);
}
.text__d9Ya9 {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 8px;
}
.svg__pvJa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #1f1f1f;
  width: 12px;
  height: 12px;
  opacity: 1;
  transition-property: all;
  transition-duration: 1s;
  display: block;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  margin: var(--token-Dpi4Tw_Jy) var(--token-1PLQr-EyN) var(--token-1PLQr-EyN);
}
.mobileEcomFeature:global(.__wab_instance) {
  position: relative;
}
.img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  flex-basis: auto;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___1ZKIc {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___1ZKIc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-Dpi4Tw_Jy));
  height: calc(100% + var(--token-Dpi4Tw_Jy));
}
.freeBox___1ZKIc > :global(.__wab_flex-container) > *,
.freeBox___1ZKIc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1ZKIc > :global(.__wab_flex-container) > picture > img,
.freeBox___1ZKIc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Dpi4Tw_Jy);
}
.text__utVmX {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: var(--token-vCMxBaVg-);
  min-width: 0;
}
.text__rm1HR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
